
<div>
    <h2><span translate="orionSoftApp.garantiContrat.detail.title">Garanti Contrat</span> {{vm.garantiContrat.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.garantiContrat.annuel">Annuel</span></dt>
        <dd>
            <span>{{vm.garantiContrat.annuel}}</span>
        </dd>
        <dt><span translate="orionSoftApp.garantiContrat.pourcentage">Pourcentage</span></dt>
        <dd>
            <span>{{vm.garantiContrat.pourcentage}}</span>
        </dd>
        <dt><span translate="orionSoftApp.garantiContrat.nette">Nette</span></dt>
        <dd>
            <span>{{vm.garantiContrat.nette}}</span>
        </dd>
        <dt><span translate="orionSoftApp.garantiContrat.bonus">Bonus</span></dt>
        <dd>
            <span>{{vm.garantiContrat.bonus}}</span>
        </dd>
        <dt><span translate="orionSoftApp.garantiContrat.surplus">Surplus</span></dt>
        <dd>
            <span>{{vm.garantiContrat.surplus}}</span>
        </dd>
        <dt><span translate="orionSoftApp.garantiContrat.nettefinal">Nettefinal</span></dt>
        <dd>
            <span>{{vm.garantiContrat.nettefinal}}</span>
        </dd>
        <dt><span translate="orionSoftApp.garantiContrat.contrat">Contrat</span></dt>
        <dd>
            <a ui-sref="contrat-detail({id:vm.garantiContrat.contrat.id})">{{vm.garantiContrat.contrat.numeroPolice}}</a>
        </dd>
        <dt><span translate="orionSoftApp.garantiContrat.garanti">Garanti</span></dt>
        <dd>
            <a ui-sref="garanti-detail({id:vm.garantiContrat.garanti.id})">{{vm.garantiContrat.garanti.nom}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="garanti-contrat-detail.edit({id:vm.garantiContrat.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
