<div>
    <h2 translate="orionSoftApp.garantiContrat.home.title">Garanti Contrats</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="garanti-contrat.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="orionSoftApp.garantiContrat.home.createLabel">
                        Create new Garanti Contrat
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'orionSoftApp.garantiContrat.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="annuel"><span translate="orionSoftApp.garantiContrat.annuel">Annuel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pourcentage"><span translate="orionSoftApp.garantiContrat.pourcentage">Pourcentage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nette"><span translate="orionSoftApp.garantiContrat.nette">Nette</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bonus"><span translate="orionSoftApp.garantiContrat.bonus">Bonus</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="surplus"><span translate="orionSoftApp.garantiContrat.surplus">Surplus</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nettefinal"><span translate="orionSoftApp.garantiContrat.nettefinal">Nettefinal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contrat.numeroPolice"><span translate="orionSoftApp.garantiContrat.contrat">Contrat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="garanti.nom"><span translate="orionSoftApp.garantiContrat.garanti">Garanti</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="garantiContrat in vm.garantiContrats track by garantiContrat.id">
                    <td><a ui-sref="garanti-contrat-detail({id:garantiContrat.id})">{{garantiContrat.id}}</a></td>
                    <td>{{garantiContrat.annuel}}</td>
                    <td>{{garantiContrat.pourcentage}}</td>
                    <td>{{garantiContrat.nette}}</td>
                    <td>{{garantiContrat.bonus}}</td>
                    <td>{{garantiContrat.surplus}}</td>
                    <td>{{garantiContrat.nettefinal}}</td>
                    <td>
                        <a ui-sref="contrat-detail({id:garantiContrat.contrat.id})">{{garantiContrat.contrat.numeroPolice}}</a>
                    </td>
                    <td>
                        <a ui-sref="garanti-detail({id:garantiContrat.garanti.id})">{{garantiContrat.garanti.nom}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="garanti-contrat-detail({id:garantiContrat.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="garanti-contrat.edit({id:garantiContrat.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="garanti-contrat.delete({id:garantiContrat.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
