
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGarantiContratLabel" translate="orionSoftApp.garantiContrat.home.createOrEditLabel">Create or edit a Garanti Contrat</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.garantiContrat.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.garantiContrat.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.garantiContrat.annuel" for="field_annuel">Annuel</label>
            <input type="number" class="form-control" name="annuel" id="field_annuel"
                    ng-model="vm.garantiContrat.annuel"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.garantiContrat.pourcentage" for="field_pourcentage">Pourcentage</label>
            <input type="number" class="form-control" name="pourcentage" id="field_pourcentage"
                    ng-model="vm.garantiContrat.pourcentage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.garantiContrat.nette" for="field_nette">Nette</label>
            <input type="number" class="form-control" name="nette" id="field_nette"
                    ng-model="vm.garantiContrat.nette"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.garantiContrat.bonus" for="field_bonus">Bonus</label>
            <input type="number" class="form-control" name="bonus" id="field_bonus"
                    ng-model="vm.garantiContrat.bonus"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.garantiContrat.surplus" for="field_surplus">Surplus</label>
            <input type="number" class="form-control" name="surplus" id="field_surplus"
                    ng-model="vm.garantiContrat.surplus"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.garantiContrat.nettefinal" for="field_nettefinal">Nettefinal</label>
            <input type="number" class="form-control" name="nettefinal" id="field_nettefinal"
                    ng-model="vm.garantiContrat.nettefinal"
                     />
        </div>

        <div class="form-group">
            <label translate="orionSoftApp.garantiContrat.contrat" for="field_contrat">Contrat</label>
            <select class="form-control" id="field_contrat" name="contrat" ng-model="vm.garantiContrat.contrat" ng-options="contrat as contrat.numeroPolice for contrat in vm.contrats track by contrat.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="orionSoftApp.garantiContrat.garanti" for="field_garanti">Garanti</label>
            <select class="form-control" id="field_garanti" name="garanti" ng-model="vm.garantiContrat.garanti" ng-options="garanti as garanti.nom for garanti in vm.garantis track by garanti.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
