
<div>
    <h2><span translate="orionSoftApp.typeAssuranceAuto.detail.title">Type Assurance Auto</span> {{vm.typeAssuranceAuto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.typeAssuranceAuto.nom">Nom</span></dt>
        <dd>
            <span>{{vm.typeAssuranceAuto.nom}}</span>
        </dd>
        <dt><span translate="orionSoftApp.typeAssuranceAuto.nomPro">Nom Pro</span></dt>
        <dd>
            <span>{{vm.typeAssuranceAuto.nomPro}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="type-assurance-auto-detail.edit({id:vm.typeAssuranceAuto.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
