
<div>
    <h2><span translate="orionSoftApp.userAssurance.detail.title">User Assurance</span> {{vm.userAssurance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.userAssurance.number">Number</span></dt>
        <dd>
            <span>{{vm.userAssurance.number}}</span>
        </dd>
        <dt><span translate="orionSoftApp.userAssurance.email">Email</span></dt>
        <dd>
            <span>{{vm.userAssurance.email}}</span>
        </dd>
        <dt><span translate="orionSoftApp.userAssurance.nom">Nom</span></dt>
        <dd>
            <span>{{vm.userAssurance.nom}}</span>
        </dd>
        <dt><span translate="orionSoftApp.userAssurance.user">User</span></dt>
        <dd>
            {{vm.userAssurance.user.login}}
        </dd>
        <dt><span translate="orionSoftApp.userAssurance.agence">Agence</span></dt>
        <dd>
            <a ui-sref="agence-detail({id:vm.userAssurance.agence.id})">{{vm.userAssurance.agence.nom}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-assurance-detail.edit({id:vm.userAssurance.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
