
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserAssuranceLabel" translate="orionSoftApp.userAssurance.home.createOrEditLabel">Create or edit a User Assurance</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userAssurance.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userAssurance.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.userAssurance.number" for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                    ng-model="vm.userAssurance.number"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.userAssurance.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.userAssurance.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.userAssurance.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                    ng-model="vm.userAssurance.nom"
                     />
        </div>

        <div class="form-group">
            <label translate="orionSoftApp.userAssurance.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userAssurance.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="orionSoftApp.userAssurance.agence" for="field_agence">Agence</label>
            <select class="form-control" id="field_agence" name="agence" ng-model="vm.userAssurance.agence" ng-options="agence as agence.nom for agence in vm.agences track by agence.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
