﻿<div class="row contrat" >
    <form ng-submit="vm.save()">
     <div class="col-md-3 options">

        <span ng-if="vm.contrat.primeTTC - vm.pay - vm.paiement.somme == 0" style="font-size:45px; color:red">SOLDE</span> <hr>


        <button type="button"
                ui-sref="contrat"
                class="btn btn-info col-md-12">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
        <br><br>
        <button type="button" ng-hide="vm.contrat.primeTTC - vm.pay - vm.paiement.somme < 0" class="btn btn-primary col-md-12" pdf-save-button="facture"  pdf-name="facture.pdf">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Print Facture 1</span>
        </button>
        <br><br>
        <button type="button" ng-hide="vm.contrat.primeTTC - vm.pay - vm.paiement.somme < 0" class="btn btn-primary col-md-12"  pdf-save-button="facture2" pdf-name="facture.pdf">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Print Facture 2</span>
        </button>
        <br><br>
        <button type="submit" ng-hide="vm.contrat.primeTTC - vm.pay - vm.paiement.somme < 0" class="btn btn-primary col-md-12" pdf-save-button="facture" pdf-save-button="facture2" pdf-name="facture.pdf">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>

        <div class="row">

            <div class="col-md-12">
                <b>Mode de Paiement</b>
            </div>

            <div class="col-md-12">
                <select class="form-control" name="modePaiement" ng-model="vm.paiement.modePaiement" id="field_modePaiement" required>
                    <option value="ESPECE" translate="orionSoftApp.PAYMENT_MODE.ESPECE">ESPECE</option>
                    <option value="CHEQUE" translate="orionSoftApp.PAYMENT_MODE.CHEQUE">CHEQUE</option>
                    <option value="CARTE" translate="orionSoftApp.PAYMENT_MODE.CARTE">CARTE</option>
                </select>
            </div>


        </div>

        <div class="row">



            <div class="col-md-12" >
                SOMME VERSER: <input type="number" ng-model="vm.paiement.somme" required/>
            </div>


        </div>


    </div>
    <div class="col-md-9 recu" >


        <div id="printContrat" pdf-save-content="facture" pdf-save-orientation="P">

        <div class="head">


            <div class="row">

                <div class="col-md-1">
                    <img src="content/images/icon.png" width="75px"/>
                </div>

                <div class="col-md-5 left">

                    <h6>Inter-African <br> ORION <br> <b>Insurance and Reinsurance Ltd </b></h6>
                    <span>Société de courtage/Brokevage Firm <br>BP 2868 Yaoundé Cameroun</span>

                </div>

                <div class="col-md-6  block-agence">
                    <span class="agence-name" >{{vm.userAssurance.agence.nom}} </span> <br>
                    <span class="agence-locality">{{vm.userAssurance.agence.localite}}</span> <br>
                    <span class="agence-number">{{vm.userAssurance.agence.contact}}</span> <br>



                </div>

            </div>

        </div>


        <div class="row">

            <div class="col-md-3">
                <b>PC N°</b>
            </div>

            <div class="col-md-2">
                {{vm.pc}}
            </div>

            <div class="col-md-offset-2 col-md-4">
                 <b>DATE: {{vm.today | date:'dd/MM/yyyy HH:mm:ss' }}</b>
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>LIBELLE OPERATION</b>
            </div>

            <div class="col-md-3">
                ENCAISSEMENT PRIME POLICE
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>ASSURE</b>
            </div>

            <div class="col-md-3">
                {{vm.contrat.assure.nom}}
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>N° DE POLICE</b>
            </div>

            <div class="col-md-3">
                {{vm.contrat.numeroPolice}}
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>Immatriculation</b>
            </div>

            <div class="col-md-3" style="border:solid 2px #000">
                {{vm.contrat.vehicule.immatriculation}}
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>N° DE CHASSIS</b>
            </div>

            <div class="col-md-3" style="border:solid 2px #000">
                {{vm.contrat.vehicule.numeroChassi}}
            </div>

            <div class="col-md-3">
                <b>Puissance</b>
            </div>

            <div class="col-md-2" style="border:solid 2px #000">
                {{vm.contrat.vehicule.puissance}}
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>Mode de Paiement</b>
            </div>

            <div class="col-md-3">
                <span ng-bind="vm.paiement.modePaiement"></span>
            </div>


        </div>

        <br><br>

        <div class="row">



            <div class="col-md-6" >
               SOMME VERSER: <b><span ng-bind="vm.paiement.somme"></span> F CFA</b>
            </div>

            <div class="col-md-6">
                RESTE A PAYER: <b>{{vm.contrat.primeTTC - vm.pay - vm.paiement.somme}} FCFA</b>
            </div>


        </div>

        <br>
        <center><table border="1" class="row" width="100%" align="center">


                <tr height="30px">

                    <th class=" label-td">Effet</th>
                    <th class=" label-td">Expiration</th>
                    <th class=" label-td">Prime Nette</th>
                    <th class="label-td">TVA</th>
                    <th class=" label-td">DTA/Vignette</th>



                    <th class=" label-td">Total Payé</th>


                </tr>

                <tr height="30px">

                    <th style="text-align:center">{{vm.contrat.dateEffet | date:'mediumDate'}}</th>
                    <th style="text-align:center">{{vm.contrat.dateFin | date:'mediumDate'}}</th>
                    <th>{{vm.contrat.nette}}</th>
                    <th>{{vm.contrat.tva}} </th>
                    <th><span ng-show="vm.isVignette">{{vm.vignette.dateEffet}}</span><span ng-hide="vm.isVignette">{{vm.vignette.montant}}</span></th>

                    <th style="text-align:center">{{vm.contrat.primeTTC}} </th>


                </tr>


            </table></center>

        <br>

        <div class="row sign">

            <div class="col-md-6">
               <center><b><u>Le Souscripteur</u></b>  </center>
            </div>

            <div class="col-md-6">
                <center> <b><u>La Caissier</u></b></center>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <center><b>{{vm.contrat.souscripteur}}</b>  </center>
            </div>

            <div class="col-md-6">
                <center> <b>{{vm.userAssurance.nom}}</b></center>
            </div>

        </div>

        <br>

        <div class="row">

            <div class=" sign">

                <p class="clause">The above sum is received only the account of the depositor, and the firm is no way committed thereby the acceptance thereof for  the purpose offer and nothing,

                    connected with the receipt of said sum shall be help to waive default in payment of any premium interest or other sum due.<br>

                     ANY PAYMENT TENDERED OTHERWISE THAN IN CASH IS RECEIVED FOR THE ACCOUNT OF THE DEPOSITOR UNTILACTUAL COLLECTION OF CASH BY FIRM<br>

                </p>

            </div>

        </div>

        <br>

        <hr>

        <div class="head">


            <div class="row">

                <div class="col-md-1">
                    <img src="content/images/icon.png" width="75px"/>
                </div>

                <div class="col-md-5 left">

                    <h6>Inter-African <br> ORION <br> <b>Insurance and Reinsurance Ltd </b></h6>
                    <span>Société de courtage/Brokevage Firm <br>BP 2868 Yaoundé Cameroun</span>

                </div>

                <div class="col-md-6  block-agence">
                    <span class="agence-name" >{{vm.userAssurance.agence.nom}} </span> <br>
                    <span class="agence-locality">{{vm.userAssurance.agence.localite}}</span> <br>
                    <span class="agence-number">{{vm.userAssurance.agence.contact}}</span> <br>



                </div>

            </div>

        </div>


        <div class="row">

            <div class="col-md-3">
                <b>PC N°</b>
            </div>

            <div class="col-md-2">
                {{vm.pc}}
            </div>

            <div class="col-md-offset-2 col-md-4">
                 <b>DATE: {{vm.today | date:'dd/MM/yyyy HH:mm:ss' }}</b>
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>LIBELLE OPERATION</b>
            </div>

            <div class="col-md-3">
                ENCAISSEMENT PRIME POLICE
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>ASSURE</b>
            </div>

            <div class="col-md-3">
                {{vm.contrat.assure.nom}}
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>N° DE POLICE</b>
            </div>

            <div class="col-md-3">
                {{vm.contrat.numeroPolice}}
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>Immatriculation</b>
            </div>

            <div class="col-md-3" style="border:solid 2px #000">
                {{vm.contrat.vehicule.immatriculation}}
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>N° DE CHASSIS</b>
            </div>

            <div class="col-md-3" style="border:solid 2px #000">
                {{vm.contrat.vehicule.numeroChassi}}
            </div>

            <div class="col-md-3">
                <b>Puissance</b>
            </div>

            <div class="col-md-2" style="border:solid 2px #000">
                {{vm.contrat.vehicule.puissance}}
            </div>


        </div>

        <div class="row">

            <div class="col-md-3">
                <b>Mode de Paiement</b>
            </div>

            <div class="col-md-3">
                <span ng-bind="vm.paiement.modePaiement"></span>
            </div>


        </div>

        <br><br>

        <div class="row">



            <div class="col-md-6" >
               SOMME VERSER: <b><span ng-bind="vm.paiement.somme"></span> F CFA</b>
            </div>

            <div class="col-md-6">
                RESTE A PAYER: <b>{{vm.contrat.primeTTC - vm.pay - vm.paiement.somme}} FCFA</b>
            </div>


        </div>

        <br>
        <center><table border="1" class="row" width="100%" align="center">


                <tr height="30px">

                    <th class=" label-td">Effet</th>
                    <th class=" label-td">Expiration</th>
                    <th class=" label-td">Prime Nette</th>
                    <th class="label-td">TVA</th>
                    <th class=" label-td">DTA/Vignette</th>



                    <th class=" label-td">Total Payé</th>


                </tr>

                <tr height="30px">

                    <th style="text-align:center">{{vm.contrat.dateEffet | date:'mediumDate'}}</th>
                    <th style="text-align:center">{{vm.contrat.dateFin | date:'mediumDate'}}</th>
                    <th>{{vm.contrat.nette}}</th>
                    <th>{{vm.contrat.tva}} </th>
                    <th><span ng-show="vm.isVignette">{{vm.vignette.dateEffet}}</span><span ng-hide="vm.isVignette">{{vm.vignette.montant}}</span></th>

                    <th style="text-align:center">{{vm.contrat.primeTTC}} </th>


                </tr>


            </table></center>

        <br>

        <div class="row sign">

            <div class="col-md-6">
               <center><b><u>Le Souscripteur</u></b>  </center>
            </div>

            <div class="col-md-6">
                <center> <b><u>La Caissier</u></b></center>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <center><b>{{vm.contrat.souscripteur}}</b>  </center>
            </div>

            <div class="col-md-6">
                <center> <b>{{vm.userAssurance.nom}}</b></center>
            </div>

        </div>

        <br>

        <div class="row">

            <div class=" sign">

                <p class="clause">The above sum is received only the account of the depositor, and the firm is no way committed thereby the acceptance thereof for  the purpose offer and nothing,

                    connected with the receipt of said sum shall be help to waive default in payment of any premium interest or other sum due.<br>

                     ANY PAYMENT TENDERED OTHERWISE THAN IN CASH IS RECEIVED FOR THE ACCOUNT OF THE DEPOSITOR UNTILACTUAL COLLECTION OF CASH BY FIRM<br>

                </p>

            </div>

        </div>

        <br>


         <hr>

        <br>
       </div>

        <div pdf-save-content="facture2" pdf-save-orientation="P">

          <div class="head">


              <div class="row">

                  <div class="col-md-1">
                      <img src="content/images/icon.png" width="75px"/>
                  </div>

                  <div class="col-md-5 left">

                      <h6>Inter-African <br> ORION <br> <b>Insurance and Reinsurance Ltd </b></h6>
                      <span>Société de courtage/Brokevage Firm <br>BP 2868 Yaoundé Cameroun</span>

                  </div>

                  <div class="col-md-6  block-agence">
                      <span class="agence-name" >{{vm.userAssurance.agence.nom}} </span> <br>
                      <span class="agence-locality">{{vm.userAssurance.agence.localite}}</span> <br>
                      <span class="agence-number">{{vm.userAssurance.agence.contact}}</span> <br>



                  </div>

              </div>

          </div>


          <div class="row">

              <div class="col-md-3">
                  <b>PC N°</b>
              </div>

              <div class="col-md-2">
                  {{vm.pc}}
              </div>

              <div class="col-md-offset-2 col-md-4">
                   <b>DATE: {{vm.today | date:'dd/MM/yyyy HH:mm:ss' }}</b>
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>LIBELLE OPERATION</b>
              </div>

              <div class="col-md-3">
                  ENCAISSEMENT PRIME POLICE
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>ASSURE</b>
              </div>

              <div class="col-md-3">
                  {{vm.contrat.assure.nom}}
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>N° DE POLICE</b>
              </div>

              <div class="col-md-3">
                  {{vm.contrat.numeroPolice}}
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>Immatriculation</b>
              </div>

              <div class="col-md-3" style="border:solid 2px #000">
                  {{vm.contrat.vehicule.immatriculation}}
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>N° DE CHASSIS</b>
              </div>

              <div class="col-md-3" style="border:solid 2px #000">
                  {{vm.contrat.vehicule.numeroChassi}}
              </div>

              <div class="col-md-3">
                  <b>Puissance</b>
              </div>

              <div class="col-md-2" style="border:solid 2px #000">
                  {{vm.contrat.vehicule.puissance}}
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>Mode de Paiement</b>
              </div>

              <div class="col-md-3">
                  <span ng-bind="vm.paiement.modePaiement"></span>
              </div>


          </div>

          <br><br>

          <div class="row">



              <div class="col-md-6" >
                 SOMME VERSER: <b><span ng-bind="vm.contrat.primeTTC"></span> F CFA</b>
              </div>

              <div class="col-md-6">
                  RESTE A PAYER: <b>0 FCFA</b>
              </div>


          </div>

          <br>
          <center><table border="1" class="row" width="100%" align="center">


                  <tr height="30px">

                      <th class=" label-td">Effet</th>
                      <th class=" label-td">Expiration</th>
                      <th class=" label-td">Prime Nette</th>
                      <th class="label-td">TVA</th>
                      <th class=" label-td">DTA/Vignette</th>



                      <th class=" label-td">Total Payé</th>


                  </tr>

                  <tr height="30px">

                      <th style="text-align:center">{{vm.contrat.dateEffet | date:'mediumDate'}}</th>
                      <th style="text-align:center">{{vm.contrat.dateFin | date:'mediumDate'}}</th>
                      <th>{{vm.contrat.nette}}</th>
                      <th>{{vm.contrat.tva}} </th>
                      <th><span ng-show="vm.isVignette">{{vm.vignette.dateEffet}}</span><span ng-hide="vm.isVignette">{{vm.vignette.montant}}</span></th>

                      <th style="text-align:center">{{vm.contrat.primeTTC}} </th>


                  </tr>


              </table></center>

          <br>

          <div class="row sign">

              <div class="col-md-6">
                 <center><b><u>Le Souscripteur</u></b>  </center>
              </div>

              <div class="col-md-6">
                  <center> <b><u>La Caissier</u></b></center>
              </div>

          </div>

          <div class="row">

              <div class="col-md-6">
                  <center><b>{{vm.contrat.souscripteur}}</b>  </center>
              </div>

              <div class="col-md-6">
                  <center> <b>{{vm.userAssurance.nom}}</b></center>
              </div>

          </div>

          <br>

          <div class="row">

              <div class=" sign">

                  <p class="clause">The above sum is received only the account of the depositor, and the firm is no way committed thereby the acceptance thereof for  the purpose offer and nothing,

                      connected with the receipt of said sum shall be help to waive default in payment of any premium interest or other sum due.<br>

                       ANY PAYMENT TENDERED OTHERWISE THAN IN CASH IS RECEIVED FOR THE ACCOUNT OF THE DEPOSITOR UNTILACTUAL COLLECTION OF CASH BY FIRM<br>

                  </p>

              </div>

          </div>

          <br>

          <div class="head">


              <div class="row">

                  <div class="col-md-1">
                      <img src="content/images/icon.png" width="75px"/>
                  </div>

                  <div class="col-md-5 left">

                      <h6>Inter-African <br> ORION <br> <b>Insurance and Reinsurance Ltd </b></h6>
                      <span>Société de courtage/Brokevage Firm <br>BP 2868 Yaoundé Cameroun</span>

                  </div>

                  <div class="col-md-6  block-agence">
                      <span class="agence-name" >{{vm.userAssurance.agence.nom}} </span> <br>
                      <span class="agence-locality">{{vm.userAssurance.agence.localite}}</span> <br>
                      <span class="agence-number">{{vm.userAssurance.agence.contact}}</span> <br>



                  </div>

              </div>

          </div>


          <div class="row">

              <div class="col-md-3">
                  <b>PC N°</b>
              </div>

              <div class="col-md-2">
                  {{vm.pc}}
              </div>

              <div class="col-md-offset-2 col-md-4">
                   <b>DATE: {{vm.today | date:'dd/MM/yyyy HH:mm:ss' }}</b>
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>LIBELLE OPERATION</b>
              </div>

              <div class="col-md-3">
                  ENCAISSEMENT PRIME POLICE
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>ASSURE</b>
              </div>

              <div class="col-md-3">
                  {{vm.contrat.assure.nom}}
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>N° DE POLICE</b>
              </div>

              <div class="col-md-3">
                  {{vm.contrat.numeroPolice}}
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>Immatriculation</b>
              </div>

              <div class="col-md-3" style="border:solid 2px #000">
                  {{vm.contrat.vehicule.immatriculation}}
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>N° DE CHASSIS</b>
              </div>

              <div class="col-md-3" style="border:solid 2px #000">
                  {{vm.contrat.vehicule.numeroChassi}}
              </div>

              <div class="col-md-3">
                  <b>Puissance</b>
              </div>

              <div class="col-md-2" style="border:solid 2px #000">
                  {{vm.contrat.vehicule.puissance}}
              </div>


          </div>

          <div class="row">

              <div class="col-md-3">
                  <b>Mode de Paiement</b>
              </div>

              <div class="col-md-3">
                  <span ng-bind="vm.paiement.modePaiement"></span>
              </div>


          </div>

          <br><br>

          <div class="row">



              <div class="col-md-6" >
                 SOMME VERSER: <b><span ng-bind="vm.contrat.primeTTC"></span> F CFA</b>
              </div>

              <div class="col-md-6">
                  RESTE A PAYER: <b>0 FCFA</b>
              </div>


          </div>

          <br>
          <center><table border="1" class="row" width="100%" align="center">


                  <tr height="30px">

                      <th class=" label-td">Effet</th>
                      <th class=" label-td">Expiration</th>
                      <th class=" label-td">Prime Nette</th>
                      <th class="label-td">TVA</th>
                      <th class=" label-td">DTA/Vignette</th>



                      <th class=" label-td">Total Payé</th>


                  </tr>

                  <tr height="30px">

                      <th style="text-align:center">{{vm.contrat.dateEffet | date:'mediumDate'}}</th>
                      <th style="text-align:center">{{vm.contrat.dateFin | date:'mediumDate'}}</th>
                      <th>{{vm.contrat.nette}}</th>
                      <th>{{vm.contrat.tva}} </th>
                      <th><span ng-show="vm.isVignette">{{vm.vignette.dateEffet}}</span><span ng-hide="vm.isVignette">{{vm.vignette.montant}}</span></th>

                      <th style="text-align:center">{{vm.contrat.primeTTC}} </th>


                  </tr>


              </table></center>

          <br>

          <div class="row sign">

              <div class="col-md-6">
                 <center><b><u>Le Souscripteur</u></b>  </center>
              </div>

              <div class="col-md-6">
                  <center> <b><u>La Caissier</u></b></center>
              </div>

          </div>

          <div class="row">

              <div class="col-md-6">
                  <center><b>{{vm.contrat.souscripteur}}</b>  </center>
              </div>

              <div class="col-md-6">
                  <center> <b>{{vm.userAssurance.nom}}</b></center>
              </div>

          </div>

          <br>

          <div class="row">

              <div class=" sign">

                  <p class="clause">The above sum is received only the account of the depositor, and the firm is no way committed thereby the acceptance thereof for  the purpose offer and nothing,

                      connected with the receipt of said sum shall be help to waive default in payment of any premium interest or other sum due.<br>

                       ANY PAYMENT TENDERED OTHERWISE THAN IN CASH IS RECEIVED FOR THE ACCOUNT OF THE DEPOSITOR UNTILACTUAL COLLECTION OF CASH BY FIRM<br>

                  </p>

              </div>

          </div>

          <br>

        <hr>



            <br>

            </div>




    </div>








    </form>


</div>
