
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPaiementLabel" translate="orionSoftApp.paiement.home.createOrEditLabel">Create or edit a Paiement</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.paiement.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.paiement.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.paiement.datePaiement" for="field_datePaiement">Date Paiement</label>
                <div class="input-group">
                    <input id="field_datePaiement" type="text" class="form-control" name="datePaiement" datetime-picker="{{dateformat}}" ng-model="vm.paiement.datePaiement" is-open="vm.datePickerOpenStatus.datePaiement"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datePaiement')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.paiement.somme" for="field_somme">Somme</label>
            <input type="number" class="form-control" name="somme" id="field_somme"
                    ng-model="vm.paiement.somme"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.paiement.modePaiement" for="field_modePaiement">Mode Paiement</label>
            <select class="form-control" name="modePaiement" ng-model="vm.paiement.modePaiement" id="field_modePaiement">
                <option value="ESPECE" translate="orionSoftApp.PAYMENT_MODE.ESPECE">ESPECE</option>
                <option value="CHEQUE" translate="orionSoftApp.PAYMENT_MODE.CHEQUE">CHEQUE</option>
                <option value="CARTE" translate="orionSoftApp.PAYMENT_MODE.CARTE">CARTE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.paiement.naturePaiement" for="field_naturePaiement">Nature Paiement</label>
            <select class="form-control" name="naturePaiement" ng-model="vm.paiement.naturePaiement" id="field_naturePaiement">
                <option value="SOLDE" translate="orionSoftApp.NATURE_PAIEMENT.SOLDE">SOLDE</option>
                <option value="ACOMPTE" translate="orionSoftApp.NATURE_PAIEMENT.ACOMPTE">ACOMPTE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.paiement.pc" for="field_pc">Pc</label>
            <input type="text" class="form-control" name="pc" id="field_pc"
                    ng-model="vm.paiement.pc"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.paiement.numeroAvenant" for="field_numeroAvenant">Numero Avenant</label>
            <input type="text" class="form-control" name="numeroAvenant" id="field_numeroAvenant"
                    ng-model="vm.paiement.numeroAvenant"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.paiement.etat" for="field_etat">Etat</label>
            <input type="checkbox" class="form-control" name="etat" id="field_etat"
                    ng-model="vm.paiement.etat"
                     />
        </div>

        <div class="form-group">
            <label translate="orionSoftApp.paiement.userAssurance" for="field_userAssurance">User Assurance</label>
            <select class="form-control" id="field_userAssurance" name="userAssurance" ng-model="vm.paiement.userAssurance" ng-options="userAssurance as userAssurance.nom for userAssurance in vm.userassurances track by userAssurance.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="orionSoftApp.paiement.contrat" for="field_contrat">Contrat</label>
            <select class="form-control" id="field_contrat" name="contrat" ng-model="vm.paiement.contrat" ng-options="contrat as contrat.numeroPolice for contrat in vm.contrats track by contrat.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
