
<div>
    <h2><span translate="orionSoftApp.paiement.detail.title">Paiement</span> N° {{vm.paiement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.paiement.datePaiement">Date Paiement</span></dt>
        <dd>
            <span>{{vm.paiement.datePaiement | date:'medium'}}</span>
        </dd>
        <dt><span translate="orionSoftApp.paiement.somme">Somme</span></dt>
        <dd>
            <span>{{vm.paiement.somme}}</span>
        </dd>
        <dt><span translate="orionSoftApp.paiement.modePaiement">Mode Paiement</span></dt>
        <dd>
            <span translate="{{'orionSoftApp.PAYMENT_MODE.' + vm.paiement.modePaiement}}">{{vm.paiement.modePaiement}}</span>
        </dd>
        <dt><span translate="orionSoftApp.paiement.numeroAvenant">Numero Avenant</span></dt>
        <dd>
            <span>{{vm.paiement.numeroAvenant}}</span>
        </dd>

        <dt><span translate="orionSoftApp.paiement.contrat">Contrat</span></dt>
        <dd>
            <a ui-sref="contrat-detail({id:vm.paiement.contrat.id})">{{vm.paiement.contrat.numeroPolice}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="contrat-detail({id:vm.paiement.contrat.id})"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="paiement-detail.edit({id:vm.paiement.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
