<div>
    <h2 translate="orionSoftApp.paiement.home.title">Paiements</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="paiement.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="orionSoftApp.paiement.home.createLabel">
                        Create new Paiement
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'orionSoftApp.paiement.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="datePaiement"><span translate="orionSoftApp.paiement.datePaiement">Date Paiement</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="somme"><span translate="orionSoftApp.paiement.somme">Somme</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modePaiement"><span translate="orionSoftApp.paiement.modePaiement">Mode Paiement</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="naturePaiement"><span translate="orionSoftApp.paiement.naturePaiement">Nature Paiement</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pc"><span translate="orionSoftApp.paiement.pc">Pc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroAvenant"><span translate="orionSoftApp.paiement.numeroAvenant">Numero Avenant</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="etat"><span translate="orionSoftApp.paiement.etat">Etat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userAssurance.nom"><span translate="orionSoftApp.paiement.userAssurance">User Assurance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contrat.numeroPolice"><span translate="orionSoftApp.paiement.contrat">Contrat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="paiement in vm.paiements track by paiement.id">
                    <td><a ui-sref="paiement-detail({id:paiement.id})">{{paiement.id}}</a></td>
                    <td>{{paiement.datePaiement | date:'medium'}}</td>
                    <td>{{paiement.somme}}</td>
                    <td translate="{{'orionSoftApp.PAYMENT_MODE.' + paiement.modePaiement}}">{{paiement.modePaiement}}</td>
                    <td translate="{{'orionSoftApp.NATURE_PAIEMENT.' + paiement.naturePaiement}}">{{paiement.naturePaiement}}</td>
                    <td>{{paiement.pc}}</td>
                    <td>{{paiement.numeroAvenant}}</td>
                    <td>{{paiement.etat}}</td>
                    <td>
                        <a ui-sref="user-assurance-detail({id:paiement.userAssurance.id})">{{paiement.userAssurance.nom}}</a>
                    </td>
                    <td>
                        <a ui-sref="contrat-detail({id:paiement.contrat.id})">{{paiement.contrat.numeroPolice}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="paiement-detail({id:paiement.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="paiement.edit({id:paiement.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="paiement.delete({id:paiement.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
