
<div>
    <h2><span translate="orionSoftApp.numeroAgence.detail.title">Numero Agence</span> {{vm.numeroAgence.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.numeroAgence.number">Number</span></dt>
        <dd>
            <span>{{vm.numeroAgence.number}}</span>
        </dd>
        <dt><span translate="orionSoftApp.numeroAgence.agence">Agence</span></dt>
        <dd>
            <a ui-sref="agence-detail({id:vm.numeroAgence.agence.id})">{{vm.numeroAgence.agence.nom}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="numero-agence-detail.edit({id:vm.numeroAgence.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
