
<div>
    <h2><span translate="orionSoftApp.garanti.detail.title">Garanti</span> {{vm.garanti.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.garanti.nom">Nom</span></dt>
        <dd>
            <span>{{vm.garanti.nom}}</span>
        </dd>
        <dt><span translate="orionSoftApp.garanti.capitaux">Capitaux</span></dt>
        <dd>
            <span>{{vm.garanti.capitaux}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="garanti-detail.edit({id:vm.garanti.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
