<div>
    <h2 translate="orionSoftApp.vehicule.home.title">Vehicules</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="vehicule.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="orionSoftApp.vehicule.home.createLabel">
                        Create new Vehicule
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'orionSoftApp.vehicule.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="immatriculation"><span translate="orionSoftApp.vehicule.immatriculation">Immatriculation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marque"><span translate="orionSoftApp.vehicule.marque">Marque</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="puissance"><span translate="orionSoftApp.vehicule.puissance">Puissance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="source"><span translate="orionSoftApp.vehicule.source">Source</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroChassi"><span translate="orionSoftApp.vehicule.numeroChassi">Numero Chassi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="datePremMiseCirculation"><span translate="orionSoftApp.vehicule.datePremMiseCirculation">Date Prem Mise Circulation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nbrePlace"><span translate="orionSoftApp.vehicule.nbrePlace">Nbre Place</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="poids"><span translate="orionSoftApp.vehicule.poids">Poids</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valeurAccessoire"><span translate="orionSoftApp.vehicule.valeurAccessoire">Valeur Accessoire</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valeurVenal"><span translate="orionSoftApp.vehicule.valeurVenal">Valeur Venal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateDerniereVT"><span translate="orionSoftApp.vehicule.dateDerniereVT">Date Derniere VT</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valeurNeuve"><span translate="orionSoftApp.vehicule.valeurNeuve">Valeur Neuve</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categorie"><span translate="orionSoftApp.vehicule.categorie">Categorie</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="vehicule in vm.vehicules track by vehicule.id">
                    <td><a ui-sref="vehicule-detail({id:vehicule.id})">{{vehicule.id}}</a></td>
                    <td>{{vehicule.immatriculation}}</td>
                    <td>{{vehicule.marque}}</td>
                    <td>{{vehicule.puissance}}</td>
                    <td translate="{{'orionSoftApp.SOURCE_ENERGIE.' + vehicule.source}}">{{vehicule.source}}</td>
                    <td>{{vehicule.numeroChassi}}</td>
                        <td>{{vehicule.datePremMiseCirculation | date:'mediumDate'}}</td>
                    <td>{{vehicule.nbrePlace}}</td>
                    <td>{{vehicule.poids}}</td>
                    <td>{{vehicule.valeurAccessoire}}</td>
                    <td>{{vehicule.valeurVenal}}</td>
                        <td>{{vehicule.dateDerniereVT | date:'mediumDate'}}</td>
                    <td>{{vehicule.valeurNeuve}}</td>
                    <td>{{vehicule.categorie}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="vehicule-detail({id:vehicule.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vehicule.edit({id:vehicule.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vehicule.delete({id:vehicule.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
