
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myVehiculeLabel" translate="orionSoftApp.vehicule.home.createOrEditLabel">Create or edit a Vehicule</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.vehicule.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.vehicule.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.immatriculation" for="field_immatriculation">Immatriculation</label>
            <input type="text" class="form-control" name="immatriculation" id="field_immatriculation"
                    ng-model="vm.vehicule.immatriculation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.marque" for="field_marque">Marque</label>
            <input type="text" class="form-control" name="marque" id="field_marque"
                    ng-model="vm.vehicule.marque"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.puissance" for="field_puissance">Puissance</label>
            <input type="number" class="form-control" name="puissance" id="field_puissance"
                    ng-model="vm.vehicule.puissance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.source" for="field_source">Source</label>
            <select class="form-control" name="source" ng-model="vm.vehicule.source" id="field_source">
                <option value="DIESEL" translate="orionSoftApp.SOURCE_ENERGIE.DIESEL">DIESEL</option>
                <option value="ESSENCE" translate="orionSoftApp.SOURCE_ENERGIE.ESSENCE">ESSENCE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.numeroChassi" for="field_numeroChassi">Numero Chassi</label>
            <input type="text" class="form-control" name="numeroChassi" id="field_numeroChassi"
                    ng-model="vm.vehicule.numeroChassi"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.datePremMiseCirculation" for="field_datePremMiseCirculation">Date Prem Mise Circulation</label>
                <div class="input-group">
                    <input id="field_datePremMiseCirculation" type="text" class="form-control" name="datePremMiseCirculation" uib-datepicker-popup="{{dateformat}}" ng-model="vm.vehicule.datePremMiseCirculation" is-open="vm.datePickerOpenStatus.datePremMiseCirculation"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datePremMiseCirculation')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.nbrePlace" for="field_nbrePlace">Nbre Place</label>
            <input type="number" class="form-control" name="nbrePlace" id="field_nbrePlace"
                    ng-model="vm.vehicule.nbrePlace"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.poids" for="field_poids">Poids</label>
            <input type="number" class="form-control" name="poids" id="field_poids"
                    ng-model="vm.vehicule.poids"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.valeurAccessoire" for="field_valeurAccessoire">Valeur Accessoire</label>
            <input type="number" class="form-control" name="valeurAccessoire" id="field_valeurAccessoire"
                    ng-model="vm.vehicule.valeurAccessoire"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.valeurVenal" for="field_valeurVenal">Valeur Venal</label>
            <input type="number" class="form-control" name="valeurVenal" id="field_valeurVenal"
                    ng-model="vm.vehicule.valeurVenal"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.dateDerniereVT" for="field_dateDerniereVT">Date Derniere VT</label>
                <div class="input-group">
                    <input id="field_dateDerniereVT" type="text" class="form-control" name="dateDerniereVT" uib-datepicker-popup="{{dateformat}}" ng-model="vm.vehicule.dateDerniereVT" is-open="vm.datePickerOpenStatus.dateDerniereVT"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDerniereVT')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.valeurNeuve" for="field_valeurNeuve">Valeur Neuve</label>
            <input type="number" class="form-control" name="valeurNeuve" id="field_valeurNeuve"
                    ng-model="vm.vehicule.valeurNeuve"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vehicule.categorie" for="field_categorie">Categorie</label>
            <input type="text" class="form-control" name="categorie" id="field_categorie"
                    ng-model="vm.vehicule.categorie"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
