
<div>
    <h2><span translate="orionSoftApp.vehicule.detail.title">Vehicule</span> {{vm.vehicule.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.vehicule.immatriculation">Immatriculation</span></dt>
        <dd>
            <span>{{vm.vehicule.immatriculation}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.marque">Marque</span></dt>
        <dd>
            <span>{{vm.vehicule.marque}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.puissance">Puissance</span></dt>
        <dd>
            <span>{{vm.vehicule.puissance}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.source">Source</span></dt>
        <dd>
            <span translate="{{'orionSoftApp.SOURCE_ENERGIE.' + vm.vehicule.source}}">{{vm.vehicule.source}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.numeroChassi">Numero Chassi</span></dt>
        <dd>
            <span>{{vm.vehicule.numeroChassi}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.datePremMiseCirculation">Date Prem Mise Circulation</span></dt>
        <dd>
            <span>{{vm.vehicule.datePremMiseCirculation | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.nbrePlace">Nbre Place</span></dt>
        <dd>
            <span>{{vm.vehicule.nbrePlace}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.poids">Poids</span></dt>
        <dd>
            <span>{{vm.vehicule.poids}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.valeurAccessoire">Valeur Accessoire</span></dt>
        <dd>
            <span>{{vm.vehicule.valeurAccessoire}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.valeurVenal">Valeur Venal</span></dt>
        <dd>
            <span>{{vm.vehicule.valeurVenal}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.dateDerniereVT">Date Derniere VT</span></dt>
        <dd>
            <span>{{vm.vehicule.dateDerniereVT | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.valeurNeuve">Valeur Neuve</span></dt>
        <dd>
            <span>{{vm.vehicule.valeurNeuve}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vehicule.categorie">Categorie</span></dt>
        <dd>
            <span>{{vm.vehicule.categorie}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="vehicule-detail.edit({id:vm.vehicule.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
