
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFlotteLabel" translate="orionSoftApp.flotte.home.createOrEditLabel">Create or edit a Flotte</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.flotte.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.flotte.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.flotte.numeroPolice" for="field_numeroPolice">Numero Police</label>
            <input type="text" class="form-control" name="numeroPolice" id="field_numeroPolice"
                    ng-model="vm.flotte.numeroPolice"
                     />
        </div>
        <div class="form-group">
            <label class="control-label"  for="field_nbre">Reduction</label>
            <input type="number" class="form-control" name="nbre" id="field_nbre"
                    ng-model="vm.flotte.nbre"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.flotte.accessoire" for="field_accessoire">Accessoire</label>
            <input type="number" class="form-control" name="accessoire" id="field_accessoire"
                    ng-model="vm.flotte.accessoire"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
