<div class="row ">
<div class="col-md-3 menu">
  <div class="row">
     <br>
      <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info col-md-4">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
      </button>

      <button type="button" ui-sref="add-contrat({id:vm.flotte.id})" class="btn btn-primary col-md-6">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs hidden-sm"> Ajouter Véhicule</span>
      </button>

  </div>

  <div class="row">
     <br>
      <!--<button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info col-md-4">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
      </button>-->

      <button type="button" ui-sref="flotte.edit({id:vm.flotte.id})" class="btn btn-primary col-md-6">
        <span class="glyphicon glyphicon-edit"></span>
        <span class="hidden-xs hidden-sm"> Editer</span>
      </button>

  </div>

  <div class="row">
     <br>
      <button type="submit" pdf-save-button="contrat"
            class="btn btn-default col-md-4">
        <span class="glyphicon glyphicon-print"></span>&nbsp;<span> Imprimer</span>
      </button>
      <button type="submit" pdf-save-button="contrat2"
            class="btn btn-default col-md-6">
        <span class="glyphicon glyphicon-print"></span>&nbsp;<span> Imprimer 2</span>
      </button>

  </div>
  <center><h3>Contrat par véhicule</h3></center>

  <div class="table-responsive">
      <table class="jh-table table table-striped">
          <thead>
          <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
              <th jh-sort-by="datePaiement"><span >Immatriculation</span> </th>
              <th jh-sort-by="somme"><span >TTC</span></th>
              <th></th>
          </tr>
          </thead>
          <tbody >
          <tr ng-repeat="contrat in vm.contratsFl track by contrat.id">
              <td>{{contrat.vehicule.immatriculation | date:'medium'}}</td>
              <td>{{contrat.primeTTC}}</td>

              <td class="text-right">
                  <div class="btn-group flex-btn-group-container">
                      <button type="submit"
                              ui-sref="contrat-detail({id:contrat.id})"
                              class="btn btn-info btn-sm">
                          <span class="glyphicon glyphicon-eye-open"></span>
                          <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                      </button>

                  </div>
              </td>
          </tr>
          </tbody>
      </table>

      </div>
</div>
<div class="col-md-offset-1 col-md-8">
    <div class="contrat" pdf-save-content="contrat">
      <div class="row">

          <div class="col-md-1 block-logo">
              <img src="content/images/icon.png" width="75px"/>
          </div>

          <div class="col-md-5 left">

              <h6><b>Inter-African <br> ORION <br> Insurance and Reinsurance Ltd </b></h6>
              <span>Société de courtage / Brokevage Firm <br>BP 2868 Yaoundé Cameroun</span>

          </div>



          <div class="col-md-6  block-agence">
              <span class="agence-name" >{{vm.userAssurance.agence.nom}} </span> <br><br>
              <span class="agence-locality">{{vm.userAssurance.agence.localite}}</span> <br>
              <span class="agence-number">{{vm.userAssurance.agence.contact}}</span> <br>



          </div>

      </div>

      <div class="row block-title">
          <center><span class="facture-title"><h5>CONTRAT:CAT 11-FLOTTE <br> Police N°: {{vm.flotte.numeroPolice}}</h5></span></center>
          <center><span class="facture-title"><h5>CONDITIONS PARTICULIERES</h5></span></center>
      </div>

      <div class="row facture-part">
          <table border="1" class="col-md-offset-1 col-md-10">
              <tr class="row">
                  <td class="col-md-2 label-td">
                      <span class="facture-td">RAISON SOCIAL: <br> STATUS:</span>
                  </td>

                  <td class="col-md-2 ">
                      {{vm.contrat.assure.nom}}
                  </td>

                  <td class="col-md-2 label-td">
                      <span class="facture-td">N° Police <br> Policy N°</span>
                  </td>

                  <td class="col-md-2  ">
                      {{vm.contrat.numeroPolice}}

                  </td>

                  <td class="col-md-2 label-td">
                      <span class="facture-td">AGENT <br> AGENT</span>

                  </td>

                  <td class="col-md-2 ">

                  </td>

              </tr>

              <tr class="row">
                  <td class="col-md-2 label-td">
                      <span class="facture-td">ADRESSE <br> ADRESS</span>
                  </td>

                  <td class="col-md-2 ">
                       {{vm.contrat.assure.adress}}
                  </td>

                  <td class="col-md-2 label-td">
                      <span class="facture-td">Date D'effet <br> Effective Date</span>
                  </td>

                  <td class="col-md-2  ">
                      {{ vm.contrat.dateEffet | date:"dd/MM/yyyy"}}
                  </td>

                  <td class="col-md-2 label-td">
                      <span class="facture-td">DUREE <br> DURATION</span>

                  </td>

                  <td class="col-md-2 ">

                      {{vm.contrat.duree}}
                  </td>

              </tr>

              <tr class="row">
                  <td class="col-md-2 label-td">
                      <span class="facture-td">PROFESSION <br> PROFESSION</span>
                  </td>

                  <td class="col-md-2 ">
                     {{vm.contrat.assure.profession}}
                  </td>



                  <td class="col-md-2 label-td">
                      <span class="facture-td">ECHEANCE <br> END</span>
                  </td>

                  <td class="col-md-2  " >

                      {{ vm.contrat.dateFin | date:"dd/MM/yyyy"}}

                  </td>

                  <td class="col-md-2 label-td">
                      <span class="facture-td">TELEPHONE <br> NUMBER</span>
                  </td>

                  <td class="col-md-2 ">
                      {{vm.contrat.assure.number}}
                  </td>



              </tr>

              <tr class="row">
                  <td class="col-md-2 label-td">
                      <span class="facture-td">SOUSCRIPTEUR <br> SUBSCRIBER</span>
                  </td>

                  <td class="col-md-4 ">
                      {{vm.contrat.souscripteur}}
                  </td>

                  <td class="col-md-2 label-td">
                      <span class="facture-td">ASSUREUR <br> INSURER</span>
                  </td>

                  <td class="col-md-4  " colspan="3">
                     {{vm.contrat.assureur.nom}}

                  </td>



              </tr>

              <tr class="row">
                  <td class="col-md-2 label-td">
                      <span class="facture-td">CONDUCTEUR <br> DRIVER</span>
                  </td>

                  <td class="col-md-4 ">
                      {{vm.contrat.conducteur}}
                  </td>

                  <td class="col-md-2 label-td">
                      <span class="facture-td">EMAIL <br> EMAIL</span>
                  </td>

                  <td class="col-md-4  " colspan="3">
                        {{vm.contrat.numeroAttestation}}
                  </td>



              </tr>

              <tr class="row">
                  <td class="col-md-2 label-td">
                      <span class="facture-td">STATUT SOCIO/P <br> SOCI/P STATUS</span>
                  </td>

                  <td class="col-md-4 ">
                      {{vm.contrat.statutSocio}}
                  </td>

                  <td class="col-md-2 label-td">
                      <span class="facture-td">ACTIVITE <br> ACTIVITE</span>
                  </td>

                  <td class="col-md-4" colspan="3">
                      {{vm.contrat.numeroCarteRose}}

                  </td>





              </tr>

          </table>

      </div>

      <div class="facture-part ">

          <table border="1" class="col-md-9 col-md-offset-2">

              <tr class="">

                  <th  class="col-md-3 label-td"> GARANTIES </th>

                  <th  class="col-md-3 label-td"> PRIME   </th>

                  <!--<th class="col-md-6 label-td" colspan="6">PRIMES</th>-->

              </tr>

            <!--  <tr class="">


                  <th class="label-td">Annuelle</th>

                  <th class="label-td" ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? 'jour' : '%'"></th>

                  <th class="label-td">Nette</th>

                  <th class="label-td">bns</th>

                  <th class="label-td">SP</th>

                  <th class="label-td">Nette</th>

              </tr> -->

              <tr>
                  <td>RC ET RTI <br> Civil Liability & fire</td>

                  <td id="garanti1"></td>

              </tr>

              <tr>
                  <td>Dommage par collision <br> Damage from collision </td>
                  <td id="garanti2" ></td>
              </tr>

              <tr>
                  <td>Dommage tous accidents <br> Damage all accident</td>
                  <td id="garanti3"></td>

              </tr>

              <tr>
                  <td>Vol Incendie <br> Thef-Fire</td>
                  <td id="garanti4"></td>

              </tr>

              <tr>
                  <td> Vol Appareil Elect <br> theft elect.app </td>
                  <td id="garanti5"></td>

              </tr>

              <tr>
                  <td> Avance sur recours / Advance before recourse </td>
                  <td id="garanti6"></td>

              </tr>

              <tr>
                  <td>   Assistance <br> Assistance </td>
                  <td id="garanti7"></td>

              </tr>

              <tr>
                  <td>   Bris de glace & parebrise / Glass & windshield breakage </td>
                  <td id="garanti8"></td>

              </tr>


              <tr>
                  <td>  Recours Defence <br> Recourse defence	 </td>
                  <td  id="garanti9"></td>

              </tr>


              <tr>
                  <td>  Individuel Accid - Chauffeur	</td>
                  <td id="garanti10"></td>

              </tr>


              <tr>
                  <td >  IPT <br> cover for passengers 	 </td>
                  <td id="garanti11"></td>


              </tr>







          </table>

      </div>

      <div class="row" >

           <div class="col-md-6">

               <div class="row sign">
                   <div class="col-md-8">
                       <u>L'ASSURE</u>
                   </div>

               </div>


               <div class="row sign">
                   <div class="col-md-8">
                       <u>LA COMPAGNIE</u>
                   </div>
               </div>

               <div class="row">
                   <div class="col-md-offset-1">
                       <b>{{vm.userAssurance.agence.ville}} le {{vm.today | date:"EEEE, MMMM d, y à HH:mm:ss"}}</b>
                   </div>
               </div>


           </div>

           <div class="facture-part col-md-offset-1 col-md-5 ">

              <table border="0" class="blockttc ">

                  <tr class="row">
                      <td class="col-md-8">PRIME BRUTE</td>
                      <td class="col-md-4" id="primebrute"></td>
                  </tr>

                  <tr class="row">
                      <td class="col-md-8">REDUCTION</td>
                      <td class="col-md-4" id="reduction"></td>
                  </tr>

                  <tr class="row">
                      <td class="col-md-8">PRIME NETTE</td>
                      <td class="col-md-4" id="primenet"></td>
                  </tr>

                  <tr class="row">
                      <td class="col-md-8">ACCESSOIRE</td>
                      <td class="col-md-4" id="accessoire"></td>
                  </tr>

                  <tr class="row">
                      <td class="col-md-8">TVA</td>
                      <td class="col-md-4" id="tva"></td>
                  </tr>

                  <tr class="row">
                      <td class="col-md-8">VIGNETTE</td>
                      <td class="col-md-4" id="vignette"></td>
                  </tr>


                  <tr class="row" class="ttc">
                      <th class="col-md-8">PRIME TOTALE</th>
                      <th class="col-md-4" id="ttc"></th>
                  </tr>

              </table>

           </div>

          </div>

          <div class="row">

              <div class="col-md-offset-1 sign">

                  <u>CLAUSES PARTICULIERES</u>

                  <p class="clause"> 1- Sont seules considérées comme souscrites les garanties dont des primes auront été payée <br>

                      2-Etendue territoriale: les garanties s'exercent pour les sinistres survenus au Cameroon ou dans l'un des pays membres de la CIMA,<br>

                      3-Le present contrat est établi d'après les déclarations du souscripteur, En cas de reticences, de fausse déclaration intentionnelle, d'omission ou de <br>

                      déclaration inéxacte, le souscripteur s'expose aux sanctions prévues par les articles 18 et 19 du Code CIMA

                  </p>

              </div>

          </div>

    </div>
    <!--<h2><span translate="orionSoftApp.flotte.detail.title">Flotte</span> {{vm.flotte.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.flotte.numeroPolice">Numero Police</span></dt>
        <dd>
            <span>{{vm.flotte.numeroPolice}}</span>
        </dd>
        <dt><span translate="orionSoftApp.flotte.nbre">Nbre</span></dt>
        <dd>
            <span>{{vm.flotte.nbre}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="flotte-detail.edit({id:vm.flotte.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button> -->
</div>
</div>

<div class="row"  id="printcontrat" pdf-save-content="contrat2" pdf-save-orientation="L">
  <div class="row" >

      <div class="col-md-1 block-logo">
          <img src="content/images/icon.png" width="75px"/>
      </div>

      <div class="col-md-5 left">

          <h6><b>Inter-African <br> ORION <br> Insurance and Reinsurance Ltd </b></h6>
          <span>Société de courtage / Brokevage Firm <br>BP 2868 Yaoundé Cameroun</span>

      </div>



      <div class="col-md-6  block-agence">
          <span class="agence-name" >{{vm.userAssurance.agence.nom}} </span> <br><br>
          <span class="agence-locality">{{vm.userAssurance.agence.localite}}</span> <br>
          <span class="agence-number">{{vm.userAssurance.agence.contact}}</span> <br>



      </div>

  </div>

  <br><br>

  <div class="row block-title">

    <center>
    <div class="col-md-4">
        Agence/Branch :
    </div>
    <div class="col-md-4">
        N° Police/Policy N° : {{vm.contrat.numeroPolice}}
    </div>
    <div class="col-md-4">
        Assuré/Assuré : {{vm.contrat.assure.nom}}
    </div>
  </center>
      <!--<center><span class="facture-title"><h5>CONTRAT:CAT 11-FLOTTE <br> Police N°: {{vm.flotte.numeroPolice}}</h5></span></center>
      <center><span class="facture-title"><h5>CONDITIONS PARTICULIERES</h5></span></center>-->
  </div>
  <br><br>
  <div>
    <center>
     <table  border="1" class="col-md-12">
       <tr>
          <th>
            N° Immatri.
          </th>
          <th>
            Genre
          </th>
          <th>
            Marque
          </th>
          <th>
            Poids
          </th>
          <th>
            Puiss
          </th>
          <th>
            immatriculation
          </th>
          <th>
            Valeur à Neuf
          </th>
          <th>
            RC + RTI
          </th>
          <th>
            Vol
          </th>
          <th>
            Incendie
          </th>
          <th>
            Repartition
          </th>
          <th>
            IPT + IAC
          </th>
          <th>
            Defense-recours
          </th>
          <th rowspan="2">
            Prime Brute
          </th>

       </tr>
       <tr>
         <th>Année M.E.C</th>
         <th>Usage</th>
         <th>Type</th>
         <th>Places</th>
         <th>En </th>
         <th> Val. Ven. </th>
         <th> Vignette </th>
         <th>  </th>
         <th colspan="4"> Autres Garanties </th>

       </tr>


       <tr ng-repeat="contrat in vm.contratsFl track by contrat.id">
          <td>
            {{contrat.vehicule.immatriculation}}<br><hr>
            {{contrat.vehicule.datePremMiseCirculation}}
          </td>
          <td>
            {{contrat.vehicule.categorie}}<br><hr>
            utilitaire
          </td>
          <td>
            {{contrat.vehicule.marque}}<br><hr>


          </td>
          <td>
            {{contrat.vehicule.poids}}<br><hr>
            {{contrat.vehicule.nbrePlace}}
          </td>
          <td>
            {{contrat.vehicule.puissance}} CV<br><hr>
            {{contrat.vehicule.source}}
          </td>
          <td>
            {{contrat.vehicule.immatriculation}}<br><hr>
            {{contrat.vehicule.valeurVenale}}
          </td>
          <td>
             {{contrat.vehicule.valeurNeuve}}<br><hr>
             {{contrat.vignette}}
          </td>
          <td ng-bind="(contrat.primeBase - (contrat.bonus/100 * contrat.primeBase) + (contrat.surplus/100 * contrat.primeBase)) * contrat.pourcentage/100">

          </td>
          <td ng-bind="contrat.annuelVolElectronic * contrat.pourcentage / 100">

          </td>
          <td ng-bind="(contrat.vehicule.valeurNeuve * contrat.pourcentVolIncendie/100) * contrat.pourcentage / 100">

          </td>
          <td ng-bind="(contrat.vehicule.valeurNeuve * contrat.pourcentAssistance/100) * contrat.pourcentage / 100 ">

          </td>
          <td ng-bind="((contrat.iptDecesAnnuel * contrat.pourcentage /100) + (contrat.iptInvalidAnnuel * contrat.pourcentage /100) + (contrat.iptFMPHAnnuel * contrat.pourcentage /100)) * contrat.vehicule.nbrePlace">

          </td>
          <td ng-bind="(contrat.primeBase - (contrat.bonus/100 * contrat.primeBase) + (contrat.surplus/100 * contrat.primeBase)) * contrat.pourcentRecourDefense/100 * contrat.pourcentage /100 ">

          </td>
          <td  ng-bind="contrat.nette">

          </td>

       </tr>
       <!--<tr>
         <td>{{contrat.vehicule.datePremMiseCirculation}}</td>
         <td>Usage</td>
         <td></td>
         <td>{{contrat.vehicule.nbrePlace}}</td>
         <td> </td>
         <td> </td>
         <td>{{contrat.vehicule.poids}}</td>
         <td> {{contrat.vehicule.valeurVenale}} </td>
         <td colspan="5"> </td>

       </tr>-->

     </table>
   </center>

   <div class="col-md-4">
     <br><br><br><br>
       <b>{{vm.userAssurance.agence.ville}} le {{vm.today | date:"EEEE, MMMM d, y à HH:mm:ss"}}</b>
   </div>

   <div style="float:right" class="facture-part col-md-offset-1  col-md-5 ">

      <table border="0" class="blockttc ">

        <tr class="row">
            <td class="col-md-8">NOMBRE VEHICULE </td>
            <td class="col-md-4" >{{vm.contratsFl.length}}</td>
        </tr>

          <tr class="row">
              <td class="col-md-8">PRIME BRUTE</td>
              <td class="col-md-4" ng-bind="primebrute"></td>
          </tr>

          <tr class="row">
              <td class="col-md-8">REDUCTION</td>
              <td class="col-md-4" ng-bind="reduction"></td>
          </tr>

          <tr class="row">
              <td class="col-md-8">PRIME NETTE</td>
              <td class="col-md-4" ng-bind="primenet"></td>
          </tr>

          <tr class="row">
              <td class="col-md-8">ACCESSOIRE</td>
              <td class="col-md-4" ng-bind="accessoire"></td>
          </tr>

          <tr class="row">
              <td class="col-md-8">TVA</td>
              <td class="col-md-4" ng-bind="tva"></td>
          </tr>

          <tr class="row">
              <td class="col-md-8">VIGNETTE</td>
              <td class="col-md-4" ng-bind="vign"></td>
          </tr>



          <tr class="row" class="ttc">
              <th class="col-md-8">PRIME TOTALE</th>
              <th class="col-md-4" ng-bind="ttc"></th>
          </tr>

      </table>

   </div>



  </div>


</div>
