
<div>
    <h2><span translate="orionSoftApp.vignette.detail.title">Vignette</span> {{vm.vignette.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.vignette.dateEffet">Date Effet</span></dt>
        <dd>
            <span>{{vm.vignette.dateEffet | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vignette.dateFin">Date Fin</span></dt>
        <dd>
            <span>{{vm.vignette.dateFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vignette.montant">Montant</span></dt>
        <dd>
            <span>{{vm.vignette.montant}}</span>
        </dd>
        <dt><span translate="orionSoftApp.vignette.vehicule">Vehicule</span></dt>
        <dd>
            <a ui-sref="vehicule-detail({id:vm.vignette.vehicule.id})">{{vm.vignette.vehicule.immatriculation}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="vignette-detail.edit({id:vm.vignette.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
