<div>
    <h2 translate="orionSoftApp.vignette.home.title">Vignettes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="vignette.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="orionSoftApp.vignette.home.createLabel">
                        Create new Vignette
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'orionSoftApp.vignette.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateEffet"><span translate="orionSoftApp.vignette.dateEffet">Date Effet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateFin"><span translate="orionSoftApp.vignette.dateFin">Date Fin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="montant"><span translate="orionSoftApp.vignette.montant">Montant</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="etat"><span translate="orionSoftApp.vignette.etat">Etat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicule.immatriculation"><span translate="orionSoftApp.vignette.vehicule">Vehicule</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="vignette in vm.vignettes track by vignette.id">
                    <td><a ui-sref="vignette-detail({id:vignette.id})">{{vignette.id}}</a></td>
                        <td>{{vignette.dateEffet | date:'mediumDate'}}</td>
                        <td>{{vignette.dateFin | date:'mediumDate'}}</td>
                    <td>{{vignette.montant}}</td>
                    <td>{{vignette.etat}}</td>
                    <td>
                        <a ui-sref="vehicule-detail({id:vignette.vehicule.id})">{{vignette.vehicule.immatriculation}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="vignette-detail({id:vignette.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vignette.edit({id:vignette.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vignette.delete({id:vignette.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
