
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myVignetteLabel" translate="orionSoftApp.vignette.home.createOrEditLabel">Create or edit a Vignette</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.vignette.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.vignette.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vignette.dateEffet" for="field_dateEffet">Date Effet</label>
                <div class="input-group">
                    <input id="field_dateEffet" type="text" class="form-control" name="dateEffet" uib-datepicker-popup="{{dateformat}}" ng-model="vm.vignette.dateEffet" is-open="vm.datePickerOpenStatus.dateEffet"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEffet')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vignette.dateFin" for="field_dateFin">Date Fin</label>
                <div class="input-group">
                    <input id="field_dateFin" type="text" class="form-control" name="dateFin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.vignette.dateFin" is-open="vm.datePickerOpenStatus.dateFin"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.vignette.montant" for="field_montant">Montant</label>
            <input type="number" class="form-control" name="montant" id="field_montant"
                    ng-model="vm.vignette.montant"
                     />
        </div>

        <div class="form-group">
            <label translate="orionSoftApp.vignette.vehicule" for="field_vehicule">Vehicule</label>
            <select class="form-control" id="field_vehicule" name="vehicule" ng-model="vm.vignette.vehicule" ng-options="vehicule as vehicule.immatriculation for vehicule in vm.vehicules track by vehicule.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
