<div ng-cloak>
    <div class="row">
        <div class="col-md-12">


              <select class="form-control" id="field_assureur" name="assureur" ng-model="vm.contrat.assureur" ng-options="assureur as assureur.nom for assureur in vm.assureurs track by assureur.id" ng-change="vm.change(vm.contrat.assureur)" required>
                <option value=""></option>
            </select>
            <input type="date" ng-model="vm.dateBegin"/> au <input type="date" ng-model="vm.dateFin"/> <button class="btn btn-success" ng-click="vm.valider(vm.contrat.assureur)">VALIDER</button>

            <br><br><br>
            
            
            <div id="bordereau">
            
            <center>
         
            <h2>{{vm.title}}<span ng-if="vm.dateBegin && vm.dateFin"> du {{vm.dateBegin | date:mediumDate }} au {{vm.dateFin | date:mediumDate }} </span></h2>
            <h3>Compagnie : <span ng-if="vm.contrat.assureur"> {{vm.contrat.assureur.nom}} </span> <span ng-if="!vm.contrat.assureur">Toutes</span></h3>

            <hr>
            <br>
            <br>


                <table border="1" >

                    <tr class="row">
                        <th class="col-md-2">N° Contrat</th>
                        <th class="col-md-2">Avenant</th>
                        <th class="col-md-1">Categorie</th>
                        <th class="col-md-1">N° Client</th>
                        <th class="col-md-2">Nom Client</th>
                        <th class="col-md-2">Date Effet</th>
                        <th class="col-md-2">Date Expi.</th>
                        <th class="col-md-2">Date Sousc.</th>
                        <th class="col-md-2">PN</th>
                        <th class="col-md-2">Cout Police</th>
                        <th class="col-md-2">Taxe</th>
                        <th class="col-md-2">P.totale</th>
                        <th class="col-md-2">Date Enc.</th>
                        <th></th>

                    </tr>

                    <tr class="row" ng-repeat="contrat in vm.contrats">

                            <td class="col-md-1">{{contrat.numeroPolice}}</td>
                            <td class="col-md-1">{{contrat.avenant}}</td>
                            <td class="col-md-1">{{contrat.vehicule.categorie}}</td>
                            <td class="col-md-1">{{contrat.assure.id}}</td>
                            <td class="col-md-1">{{contrat.assure.nom}}</td>
                            <td class="col-md-1">{{contrat.dateEffet | date:mediumDate}}</td>
                            <td class="col-md-1">{{contrat.dateFin | date:mediumDate}}</td>
                            <td>{{contrat.createdDate | date:mediumDate}}</td>
                            <td>{{contrat.nette}}</td>
                            <td>{{contrat.coutPolice}}</td>
                            <td>{{contrat.tva}}</td>
                            <td>{{contrat.primeTTC}}</td>
                            <td>{{contrat.createdDate | date:mediumDate}}</td>
                            <td>  <button type="submit"
                                    ui-sref="contrat-detail({id:contrat.id})"
                                    class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button></td>
                            

                    </tr>


                </table>
            </center>
            </div>
                <br>

                <div class="row pull-right">

                    <button type="button"  class="btn btn-default " ng-click="vm.print()">
                        <span class="glyphicon glyphicon-print"></span>
                        <span class="hidden-xs hidden-sm" > Print</span>
                    </button>


                </div>
                <br><hr>

        </div>
    </div>


</div>

