<div ng-cloak>
    <div class="row">
        <div class="col-md-3">
            <ht-sidebar >
                <div class="sidebar-filler"></div>
                <div class="sidebar-dropdown"><a href="#">Menu</a></div>
                <div class="sidebar-inner">
                    <div class="sidebar-widget"></div>
                    <ol class="navi">
                        <li class="bblue menu-side">
                            <a><h4 translate="assurance.type.auto">Assurance Auto</h4></a>
                        </li>
                        <li class="bgreen menu-side">
                            <a><h4 translate="assurance.type.maladie">Assurance Maladie</h4></a>
                        </li>
                        <li class="bred menu-side">
                            <a><h4 translate="assurance.type.vie">Assurance Vie</h4></a>
                        </li>
                        <li class="borange menu-side">
                            <a><h4 translate="assurance.type.voyage">Assurance Voyage</h4></a>
                        </li>
                    </ol>
                </div>
            </ht-sidebar>
        </div>
        <div class="col-md-9">



            <ul class="today-datas" ng-show="vm.isAuthenticated()">

                <a ui-sref="bordereau-one({id:1})">  <li class="bred" >
                    <div class="pull-left"><i class="fa fa-plane"></i></div>
                    <div class="datas-text pull-right">
                        <span class="bold">Bordereau</span>Carte Rose
                    </div>
                    <div class="clearfix"></div>
                </li> </a>

                <a ui-sref="bordereau-one({id:2})"> <li class="bviolet">
                    <div class="pull-left"><i class="fa fa-envelope"></i></div>
                    <div class="datas-text pull-right">
                        <span class="bold">Bordereau</span>Attestation
                    </div>
                    <div class="clearfix"></div>
                </li> </a>

                <a ui-sref="bordereau-two({id:1})"> <li class="bgreen">
                    <div class="pull-left"><i class="fa fa-envelope"></i></div>
                    <div class="datas-text pull-right">
                        <span class="bold">Bordereau</span> Encaissement  des primes
                    </div>
                    <div class="clearfix"></div>
                </li> </a>

                <li class="bblue">
                    <div class="pull-left"><i class="fa fa-envelope"></i></div>
                    <div class="datas-text pull-right">
                        <span class="bold">Bordereau</span> Emission Prime
                    </div>
                    <div class="clearfix"></div>
                </li>

                <li class="borange">
                    <div class="pull-left"><i class="fa fa-envelope"></i></div>
                    <div class="datas-text pull-right">
                        <span class="bold">Bordereau</span> Reversemment des primes
                    </div>
                    <div class="clearfix"></div>
                </li>


            </ul>

        </div>
    </div>


</div>

