<div ng-cloak>
    <div class="row">
        <div class="col-md-3">
            <ht-sidebar >
                <div class="sidebar-filler"></div>
                <div class="sidebar-dropdown"><a href="#">Menu</a></div>
                <div class="sidebar-inner">
                    <div class="sidebar-widget"></div>
                    <ol class="navi">
                        <li class="bblue menu-side">
                            <a><h4 translate="assurance.type.auto">Assurance Auto</h4></a>
                        </li>
                        <li class="bgreen menu-side">
                            <a><h4 translate="assurance.type.maladie">Assurance Maladie</h4></a>
                        </li>
                        <li class="bred menu-side">
                            <a><h4 translate="assurance.type.vie">Assurance Vie</h4></a>
                        </li>
                        <li class="borange menu-side">
                            <a><h4 translate="assurance.type.voyage">Assurance Voyage</h4></a>
                        </li>
                    </ol>
                </div>
            </ht-sidebar>
        </div>
        <div class="col-md-9">



            <ul class="today-datas" ng-show="vm.isAuthenticated()">

                <a ui-sref="new-contrat-pool">  <li class="bviolet" >
                    <div class="pull-left"><i class="fa fa-plane"></i></div>
                    <div class="datas-text pull-right">
                        <span class="bold">Contrat Pool</span>Véhicule de transport urbain (Taxi)
                    </div>
                    <div class="clearfix"></div>
                </li> </a>

               <a ui-sref="new-contrat"> <li class="blightblue">
                    <div class="pull-left"><i class="fa fa-envelope"></i></div>
                    <div class="datas-text pull-right">
                        <span class="bold">Contrat Personnel</span>Véhicule à usage personel
                    </div>
                    <div class="clearfix"></div>
                </li> </a>

                <a ui-sref="orion-first"> <li class="bred">
                     <div class="pull-left"><i class="fa fa-envelope"></i></div>
                     <div class="datas-text pull-right">
                         <span class="bold">Orion First</span>Auto Ecole
                     </div>
                     <div class="clearfix"></div>
                 </li> </a>

                


            </ul>

        </div>
    </div>


</div>
