
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContratLabel" translate="orionSoftApp.contrat.home.createOrEditLabel">Create or edit a Contrat</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contrat.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contrat.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.numeroPolice" for="field_numeroPolice">Numero Police</label>
            <input type="text" class="form-control" name="numeroPolice" id="field_numeroPolice"
                    ng-model="vm.contrat.numeroPolice"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.dateEffet" for="field_dateEffet">Date Effet</label>
                <div class="input-group">
                    <input id="field_dateEffet" type="text" class="form-control" name="dateEffet" uib-datepicker-popup="{{dateformat}}" ng-model="vm.contrat.dateEffet" is-open="vm.datePickerOpenStatus.dateEffet"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEffet')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.duree" for="field_duree">Duree</label>
            <input type="number" class="form-control" name="duree" id="field_duree"
                    ng-model="vm.contrat.duree"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.souscripteur" for="field_souscripteur">Souscripteur</label>
            <input type="text" class="form-control" name="souscripteur" id="field_souscripteur"
                    ng-model="vm.contrat.souscripteur"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.conducteur" for="field_conducteur">Conducteur</label>
            <input type="text" class="form-control" name="conducteur" id="field_conducteur"
                    ng-model="vm.contrat.conducteur"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.statutSocio" for="field_statutSocio">Statut Socio</label>
            <input type="text" class="form-control" name="statutSocio" id="field_statutSocio"
                    ng-model="vm.contrat.statutSocio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.categoriePermis" for="field_categoriePermis">Categorie Permis</label>
            <select class="form-control" name="categoriePermis" ng-model="vm.contrat.categoriePermis" id="field_categoriePermis">
                <option value="A" translate="orionSoftApp.PERMIS.A">A</option>
                <option value="B" translate="orionSoftApp.PERMIS.B">B</option>
                <option value="C" translate="orionSoftApp.PERMIS.C">C</option>
                <option value="D" translate="orionSoftApp.PERMIS.D">D</option>
                <option value="E" translate="orionSoftApp.PERMIS.E">E</option>
                <option value="F" translate="orionSoftApp.PERMIS.F">F</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.primeTTC" for="field_primeTTC">Prime TTC</label>
            <input type="number" class="form-control" name="primeTTC" id="field_primeTTC"
                    ng-model="vm.contrat.primeTTC"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.acompte" for="field_acompte">Acompte</label>
            <input type="number" class="form-control" name="acompte" id="field_acompte"
                    ng-model="vm.contrat.acompte"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.contrat.status" id="field_status">
                <option value="NOUVEAU" translate="orionSoftApp.STATUS_CONTRAT.NOUVEAU">NOUVEAU</option>
                <option value="RENOUVELE" translate="orionSoftApp.STATUS_CONTRAT.RENOUVELE">RENOUVELE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.dateFin" for="field_dateFin">Date Fin</label>
                <div class="input-group">
                    <input id="field_dateFin" type="text" class="form-control" name="dateFin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.contrat.dateFin" is-open="vm.datePickerOpenStatus.dateFin"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.primeBase" for="field_primeBase">Prime Base</label>
            <input type="number" class="form-control" name="primeBase" id="field_primeBase"
                    ng-model="vm.contrat.primeBase"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.pourcentage" for="field_pourcentage">Pourcentage</label>
            <input type="number" class="form-control" name="pourcentage" id="field_pourcentage"
                    ng-model="vm.contrat.pourcentage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.accessoire" for="field_accessoire">Accessoire</label>
            <input type="number" class="form-control" name="accessoire" id="field_accessoire"
                    ng-model="vm.contrat.accessoire"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.coutPolice" for="field_coutPolice">Cout Police</label>
            <input type="number" class="form-control" name="coutPolice" id="field_coutPolice"
                    ng-model="vm.contrat.coutPolice"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.asac" for="field_asac">Asac</label>
            <input type="number" class="form-control" name="asac" id="field_asac"
                    ng-model="vm.contrat.asac"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.carteRose" for="field_carteRose">Carte Rose</label>
            <input type="number" class="form-control" name="carteRose" id="field_carteRose"
                    ng-model="vm.contrat.carteRose"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.isDommageCollision" for="field_isDommageCollision">Is Dommage Collision</label>
            <input type="checkbox" class="form-control" name="isDommageCollision" id="field_isDommageCollision"
                    ng-model="vm.contrat.isDommageCollision"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.pourcentDommageCollision" for="field_pourcentDommageCollision">Pourcent Dommage Collision</label>
            <input type="number" class="form-control" name="pourcentDommageCollision" id="field_pourcentDommageCollision"
                    ng-model="vm.contrat.pourcentDommageCollision"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.isDommageAccident" for="field_isDommageAccident">Is Dommage Accident</label>
            <input type="checkbox" class="form-control" name="isDommageAccident" id="field_isDommageAccident"
                    ng-model="vm.contrat.isDommageAccident"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.pourcentDommageAccident" for="field_pourcentDommageAccident">Pourcent Dommage Accident</label>
            <input type="number" class="form-control" name="pourcentDommageAccident" id="field_pourcentDommageAccident"
                    ng-model="vm.contrat.pourcentDommageAccident"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.isVolIncendie" for="field_isVolIncendie">Is Vol Incendie</label>
            <input type="checkbox" class="form-control" name="isVolIncendie" id="field_isVolIncendie"
                    ng-model="vm.contrat.isVolIncendie"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.pourcentVolIncendie" for="field_pourcentVolIncendie">Pourcent Vol Incendie</label>
            <input type="number" class="form-control" name="pourcentVolIncendie" id="field_pourcentVolIncendie"
                    ng-model="vm.contrat.pourcentVolIncendie"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.isVolElectronic" for="field_isVolElectronic">Is Vol Electronic</label>
            <input type="checkbox" class="form-control" name="isVolElectronic" id="field_isVolElectronic"
                    ng-model="vm.contrat.isVolElectronic"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.pourcentVolElectronic" for="field_pourcentVolElectronic">Pourcent Vol Electronic</label>
            <input type="number" class="form-control" name="pourcentVolElectronic" id="field_pourcentVolElectronic"
                    ng-model="vm.contrat.pourcentVolElectronic"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.annuelVolElectronic" for="field_annuelVolElectronic">Annuel Vol Electronic</label>
            <input type="number" class="form-control" name="annuelVolElectronic" id="field_annuelVolElectronic"
                    ng-model="vm.contrat.annuelVolElectronic"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.isAvanceSecour" for="field_isAvanceSecour">Is Avance Secour</label>
            <input type="checkbox" class="form-control" name="isAvanceSecour" id="field_isAvanceSecour"
                    ng-model="vm.contrat.isAvanceSecour"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.pourcentAvanceSecour" for="field_pourcentAvanceSecour">Pourcent Avance Secour</label>
            <input type="number" class="form-control" name="pourcentAvanceSecour" id="field_pourcentAvanceSecour"
                    ng-model="vm.contrat.pourcentAvanceSecour"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.annuelAvanceSecour" for="field_annuelAvanceSecour">Annuel Avance Secour</label>
            <input type="number" class="form-control" name="annuelAvanceSecour" id="field_annuelAvanceSecour"
                    ng-model="vm.contrat.annuelAvanceSecour"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.isAssistance" for="field_isAssistance">Is Assistance</label>
            <input type="checkbox" class="form-control" name="isAssistance" id="field_isAssistance"
                    ng-model="vm.contrat.isAssistance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.pourcentAssistance" for="field_pourcentAssistance">Pourcent Assistance</label>
            <input type="number" class="form-control" name="pourcentAssistance" id="field_pourcentAssistance"
                    ng-model="vm.contrat.pourcentAssistance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.isBriseGlace" for="field_isBriseGlace">Is Brise Glace</label>
            <input type="checkbox" class="form-control" name="isBriseGlace" id="field_isBriseGlace"
                    ng-model="vm.contrat.isBriseGlace"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.pourcentBriseGlace" for="field_pourcentBriseGlace">Pourcent Brise Glace</label>
            <input type="number" class="form-control" name="pourcentBriseGlace" id="field_pourcentBriseGlace"
                    ng-model="vm.contrat.pourcentBriseGlace"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.isRecourDefence" for="field_isRecourDefence">Is Recour Defence</label>
            <input type="checkbox" class="form-control" name="isRecourDefence" id="field_isRecourDefence"
                    ng-model="vm.contrat.isRecourDefence"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.pourcentRecourDefense" for="field_pourcentRecourDefense">Pourcent Recour Defense</label>
            <input type="number" class="form-control" name="pourcentRecourDefense" id="field_pourcentRecourDefense"
                    ng-model="vm.contrat.pourcentRecourDefense"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.isIndAcc" for="field_isIndAcc">Is Ind Acc</label>
            <input type="checkbox" class="form-control" name="isIndAcc" id="field_isIndAcc"
                    ng-model="vm.contrat.isIndAcc"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.annuelIndAcc" for="field_annuelIndAcc">Annuel Ind Acc</label>
            <input type="number" class="form-control" name="annuelIndAcc" id="field_annuelIndAcc"
                    ng-model="vm.contrat.annuelIndAcc"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.isIptInvalid" for="field_isIptInvalid">Is Ipt Invalid</label>
            <input type="checkbox" class="form-control" name="isIptInvalid" id="field_isIptInvalid"
                    ng-model="vm.contrat.isIptInvalid"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.isIptFMPH" for="field_isIptFMPH">Is Ipt FMPH</label>
            <input type="checkbox" class="form-control" name="isIptFMPH" id="field_isIptFMPH"
                    ng-model="vm.contrat.isIptFMPH"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.iptDecesCapitaux" for="field_iptDecesCapitaux">Ipt Deces Capitaux</label>
            <input type="number" class="form-control" name="iptDecesCapitaux" id="field_iptDecesCapitaux"
                    ng-model="vm.contrat.iptDecesCapitaux"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.iptInvalidCapitaux" for="field_iptInvalidCapitaux">Ipt Invalid Capitaux</label>
            <input type="number" class="form-control" name="iptInvalidCapitaux" id="field_iptInvalidCapitaux"
                    ng-model="vm.contrat.iptInvalidCapitaux"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.iptFMPHCapitaux" for="field_iptFMPHCapitaux">Ipt FMPH Capitaux</label>
            <input type="number" class="form-control" name="iptFMPHCapitaux" id="field_iptFMPHCapitaux"
                    ng-model="vm.contrat.iptFMPHCapitaux"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.iptDecesAnnuel" for="field_iptDecesAnnuel">Ipt Deces Annuel</label>
            <input type="number" class="form-control" name="iptDecesAnnuel" id="field_iptDecesAnnuel"
                    ng-model="vm.contrat.iptDecesAnnuel"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.iptInvalidAnnuel" for="field_iptInvalidAnnuel">Ipt Invalid Annuel</label>
            <input type="number" class="form-control" name="iptInvalidAnnuel" id="field_iptInvalidAnnuel"
                    ng-model="vm.contrat.iptInvalidAnnuel"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.iptFMPHAnnuel" for="field_iptFMPHAnnuel">Ipt FMPH Annuel</label>
            <input type="number" class="form-control" name="iptFMPHAnnuel" id="field_iptFMPHAnnuel"
                    ng-model="vm.contrat.iptFMPHAnnuel"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.bonus" for="field_bonus">Bonus</label>
            <input type="number" class="form-control" name="bonus" id="field_bonus"
                    ng-model="vm.contrat.bonus"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.surplus" for="field_surplus">Surplus</label>
            <input type="number" class="form-control" name="surplus" id="field_surplus"
                    ng-model="vm.contrat.surplus"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.numeroCarteRose" for="field_numeroCarteRose">Numero Carte Rose</label>
            <input type="text" class="form-control" name="numeroCarteRose" id="field_numeroCarteRose"
                    ng-model="vm.contrat.numeroCarteRose"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.numeroAttestation" for="field_numeroAttestation">Numero Attestation</label>
            <input type="text" class="form-control" name="numeroAttestation" id="field_numeroAttestation"
                    ng-model="vm.contrat.numeroAttestation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.avenant" for="field_avenant">Avenant</label>
            <input type="number" class="form-control" name="avenant" id="field_avenant"
                    ng-model="vm.contrat.avenant"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.idPrev" for="field_idPrev">Id Prev</label>
            <input type="number" class="form-control" name="idPrev" id="field_idPrev"
                    ng-model="vm.contrat.idPrev"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.idNext" for="field_idNext">Id Next</label>
            <input type="number" class="form-control" name="idNext" id="field_idNext"
                    ng-model="vm.contrat.idNext"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.nette" for="field_nette">Nette</label>
            <input type="number" class="form-control" name="nette" id="field_nette"
                    ng-model="vm.contrat.nette"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.contrat.tva" for="field_tva">Tva</label>
            <input type="number" class="form-control" name="tva" id="field_tva"
                    ng-model="vm.contrat.tva"
                     />
        </div>

        <div class="form-group">
            <label translate="orionSoftApp.contrat.agent" for="field_agent">Agent</label>
            <select class="form-control" id="field_agent" name="agent" ng-model="vm.contrat.agent" ng-options="agent as agent.nom for agent in vm.agents track by agent.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="orionSoftApp.contrat.assureur" for="field_assureur">Assureur</label>
            <select class="form-control" id="field_assureur" name="assureur" ng-model="vm.contrat.assureur" ng-options="assureur as assureur.nom for assureur in vm.assureurs track by assureur.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="orionSoftApp.contrat.vehicule" for="field_vehicule">Vehicule</label>
            <select class="form-control" id="field_vehicule" name="vehicule" ng-model="vm.contrat.vehicule" ng-options="vehicule as vehicule.immatriculation for vehicule in vm.vehicules track by vehicule.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="orionSoftApp.contrat.zone" for="field_zone">Zone</label>
            <select class="form-control" id="field_zone" name="zone" ng-model="vm.contrat.zone" ng-options="zone as zone.nom for zone in vm.zones track by zone.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="orionSoftApp.contrat.assure" for="field_assure">Assure</label>
            <select class="form-control" id="field_assure" name="assure" ng-model="vm.contrat.assure" ng-options="assure as assure.nom for assure in vm.assures track by assure.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="orionSoftApp.contrat.typeAssuranceAuto" for="field_typeAssuranceAuto">Type Assurance Auto</label>
            <select class="form-control" id="field_typeAssuranceAuto" name="typeAssuranceAuto" ng-model="vm.contrat.typeAssuranceAuto" ng-options="typeAssuranceAuto as typeAssuranceAuto.nom for typeAssuranceAuto in vm.typeassuranceautos track by typeAssuranceAuto.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="orionSoftApp.contrat.agence" for="field_agence">Agence</label>
            <select class="form-control" id="field_agence" name="agence" ng-model="vm.contrat.agence" ng-options="agence as agence.nom for agence in vm.agences track by agence.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
