<div>
    <h2 translate="orionSoftApp.contrat.home.title">Contrats</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="new-contrat-pool" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs">
                        Creer un Contrat Pool
                    </span>
                </button>
                <hr>
                <button class="btn btn-success" ui-sref="new-contrat" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs">
                        Creer un Contrat V.P
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'orionSoftApp.contrat.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroPolice"><span translate="orionSoftApp.contrat.numeroPolice">Numero Police</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateEffet"><span translate="orionSoftApp.contrat.dateEffet">Date Effet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duree"><span translate="orionSoftApp.contrat.duree">Duree</span> <span class="glyphicon glyphicon-sort"></span></th>
                  <th jh-sort-by="primeTTC"><span translate="orionSoftApp.contrat.primeTTC">Prime TTC</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="orionSoftApp.contrat.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateFin"><span translate="orionSoftApp.contrat.dateFin">Date Fin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="primeBase"><span translate="orionSoftApp.contrat.primeBase">Prime Base</span> <span class="glyphicon glyphicon-sort"></span></th>
                   <th jh-sort-by="numeroCarteRose"><span translate="orionSoftApp.contrat.numeroCarteRose">Numero Carte Rose</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroAttestation"><span translate="orionSoftApp.contrat.numeroAttestation">Numero Attestation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="agent.nom"><span translate="orionSoftApp.contrat.agent">Agent</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assureur.nom"><span translate="orionSoftApp.contrat.assureur">Assureur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicule.immatriculation"><span translate="orionSoftApp.contrat.vehicule">Vehicule</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assure.nom"><span translate="orionSoftApp.contrat.assure">Assure</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeAssuranceAuto.nom"><span translate="orionSoftApp.contrat.typeAssuranceAuto">Type Assurance Auto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="contrat in vm.contrats track by contrat.id" ng-if="contrat.agence.id==vm.userAssurance.agence.id">
                    <td><a ui-sref="contrat-detail({id:contrat.id})">{{contrat.id}}</a></td>
                    <td>{{contrat.numeroPolice}}</td>
                    <td>{{contrat.dateEffet | date:'mediumDate'}}</td>
                    <td>{{contrat.duree}}</td>
                    <td>{{contrat.primeTTC}}</td>
                    <td translate="{{'orionSoftApp.STATUS_CONTRAT.' + contrat.status}}">{{contrat.status}}</td>
                        <td>{{contrat.dateFin | date:'mediumDate'}}</td>
                    <td>{{contrat.primeBase}}</td>
                    <td>{{contrat.numeroCarteRose}}</td>
                    <td>{{contrat.numeroAttestation}}</td>
                    <td>
                        <a ui-sref="agent-detail({id:contrat.agent.id})">{{contrat.agent.nom}}</a>
                    </td>
                    <td>
                        <a ui-sref="assureur-detail({id:contrat.assureur.id})">{{contrat.assureur.nom}}</a>
                    </td>
                    <td>
                        <a ui-sref="vehicule-detail({id:contrat.vehicule.id})">{{contrat.vehicule.immatriculation}}</a>
                    </td>
                    <td>
                        <a ui-sref="assure-detail({id:contrat.assure.id})">{{contrat.assure.nom}}</a>
                    </td>
                    <td>
                        <a ui-sref="type-assurance-auto-detail({id:contrat.typeAssuranceAuto.id})">{{contrat.typeAssuranceAuto.nom}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="contrat-detail({id:contrat.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <!--<button type="submit"
                                    ui-sref="contrat.edit({id:contrat.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>-->
                           <button type="submit"
                                    ui-sref="contrat.delete({id:contrat.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
