﻿ <div class="row" id="printcontrat">

        <div class="col-md-3 menu" ng-show="vm.showOption">
        <div class="">
            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <span>Police</span>
                        </div>

                        <div class="col-md-9">
                            <span style="font-size:25px">{{vm.contrat.numeroPolice}}</span>
                        </div>
                     </div>

                    <br>

                     <div class="row">

                            <div class="col-md-3">
                                <span>Immatricul.</span>
                            </div>

                            <div class="col-md-9">
                                <span style="font-size:25px">{{vm.contrat.vehicule.immatriculation}}</span>
                            </div>
                     </div>

                    <br>

                      <div class="row">

                            <div class="col-md-3">
                                <span>Assuré</span>
                            </div>

                            <div class="col-md-9">
                                <span style="font-size:20px">{{vm.contrat.assure.nom}}</span>
                            </div>
                    </div>

                </div>


                <hr>


                <div class="col-md-12">

                    <br>

                    <div class="row">

                        <div class="col-md-3">
                            <span>Total à Payer</span>
                         </div>

                        <div class="col-md-9">
                            <span style="font-size:25px; color:red">{{vm.contrat.primeTTC}} FCFA</span>
                        </div>
                    </div>

                    <br>

                    <div class="row">

                        <div class="col-md-3">
                            <span>Reste à Payer</span>
                        </div>

                        <div class="col-md-9">
                            <span style="font-size:25px; color: red">{{vm.contrat.primeTTC - vm.pay}} FCFA</span>
                        </div>
                    </div>

               </div>



               <div class="col-md-12">

                <br><hr>
                <div class="row">
            <button type="submit"
                    ui-sref="{{ vm.previousState }}"
                    class="btn btn-info col-md-3">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
            </button>

            <button type="button" ui-sref="contrat-detail.edit({id:vm.contrat.id})" class="btn btn-primary col-md-3">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
            </button>

            <button type="button"  class="btn btn-default col-md-3" ng-click="" pdf-save-button="idOne" pdf-name="someone.pdf">
                <span class="glyphicon glyphicon-print"></span>
                <span class="hidden-xs hidden-sm" > Print</span>
            </button>


                </div>
                 <hr>
                <div class="row">

                    <button type="button" ui-sref="new-paiement({id:vm.contrat.id})" class="btn btn-success" ng-if="vm.contrat.primeTTC - vm.pay>0">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-xs hidden-sm" >New Payment</span>
                    </button>

                    <button type="button"  class="btn btn-danger" ui-sref="renew-contrat({id:vm.contrat.id})" ng-if="vm.contrat.primeTTC - vm.pay==0 && vm.contrat.status=='RENOUVELE'" >
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-xs hidden-sm" >Renouveller</span>
                    </button>

                    <button type="button"  class="btn btn-default" pdf-save-button="libelle" pdf-name="libelle">
                        <span class="glyphicon glyphicon-print"></span>
                        <span class="hidden-xs hidden-sm" >Libellé</span>
                    </button>


                </div>
                <hr>
                <div class="row">

                    <button type="button"  style="background-color:pink" class="btn btn-default" pdf-save-button="carteRose" pdf-name="carte_rose.pdf" ng-if="vm.contrat.status!='RENOUVELE'">
                        <span class="glyphicon glyphicon-print"></span>
                        <span class="hidden-xs hidden-sm" >Carte Rose</span>
                    </button>

                    <button type="button"  class="btn btn-default" pdf-save-button="attestation" pdf-name="libelle.pdf" ng-if="vm.contrat.status!='RENOUVELE'">
                        <span class="glyphicon glyphicon-print"></span>
                        <span class="hidden-xs hidden-sm" >Attestation</span>
                    </button>
                </div>


               </div>


            </div>

            <div class="">

                <hr>

                <center><h3>Listes des Paiements</h3></center>

                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                            <th jh-sort-by="datePaiement"><span translate="orionSoftApp.paiement.datePaiement">Date Paiement</span> </th>
                            <th jh-sort-by="somme"><span translate="orionSoftApp.paiement.somme">Somme</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr ng-repeat="paiement in vm.paiements track by paiement.id">
                            <td>{{paiement.datePaiement | date:'medium'}}</td>
                            <td>{{paiement.somme}}</td>

                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="paiement-detail({id:paiement.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                                    </button>

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    </div>

            </div>


        </div>

    </div>

<br><br>

<div class="row">

    <div class="col-md-8 ">

        <div ng-if="vm.contrat.typeAssuranceAuto.nom != 'ORION FIRST'" class="contrat" id="contrat" pdf-save-content="idOne" pdf-save-orientation="P">

            <div >

                <div class="row">

                    <div class="col-md-1 block-logo">
                        <img src="content/images/icon.png" width="75px"/>
                    </div>

                    <div class="col-md-5 left">

                        <h6><b>Inter-African <br> ORION <br> Insurance and Reinsurance Ltd </b></h6>
                        <span>Société de courtage / Brokevage Firm <br>BP 2868 Yaoundé Cameroun</span>

                    </div>



                    <div class="col-md-6  block-agence">
                        <span class="agence-name" >{{vm.userAssurance.agence.nom}} </span> <br><br>
                        <span class="agence-locality">{{vm.userAssurance.agence.localite}}</span> <br>
                        <span class="agence-number">{{vm.userAssurance.agence.contact}}</span> <br>



                    </div>

                </div>

                <div class="row block-title">
                    <center><span class="facture-title"><h5>CONDITIONS PARTICULIERES</h5></span></center>
                    <center><span class="facture-title"><h5>SPECIFIC CONDITIONS</h5></span></center>
                </div>

                <div class="facture-part">
                    <table border="1">
                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">ASSURE: <br> INSURED:</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.assure.nom}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">N° Police <br> Policy N°</span>
                            </td>

                            <td class="col-md-2  ">
                                {{vm.contrat.numeroPolice}}

                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">AGENT <br> AGENT</span>

                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.agent.numero}}
                            </td>

                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">ADRESSE <br> ADRESS</span>
                            </td>

                            <td class="col-md-2 ">
                                 {{vm.contrat.assure.adress}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">Date D'effet <br> Effective Date</span>
                            </td>

                            <td class="col-md-2  ">
                                {{ vm.contrat.dateEffet | date:"dd/MM/yyyy"}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">DUREE <br> DURATION</span>

                            </td>

                            <td class="col-md-2 ">

                                {{vm.contrat.duree}}
                            </td>

                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">PROFESSION <br> PROFESSION</span>
                            </td>

                            <td class="col-md-2 ">
                               {{vm.contrat.assure.profession}}
                            </td>



                            <td class="col-md-2 label-td">
                                <span class="facture-td">ECHEANCE <br> END</span>
                            </td>

                            <td class="col-md-2  " >

                                {{ vm.contrat.dateFin | date:"dd/MM/yyyy"}}

                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">Numero <br> Number</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.assure.number}}
                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">SOUSCRIPTEUR <br> SUBSCRIBER</span>
                            </td>

                            <td class="col-md-4 ">
                                {{vm.contrat.souscripteur}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ASSUREUR <br> INSURER</span>
                            </td>

                            <td class="col-md-4  " colspan="3">
                               {{vm.contrat.assureur.nom}}

                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">CONDUCTEUR <br> DRIVER</span>
                            </td>

                            <td class="col-md-4 ">
                                {{vm.contrat.conducteur}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ATTESTATION <br> CERTIFICAT</span>
                            </td>

                            <td class="col-md-4  " colspan="3">
                                  {{vm.contrat.numeroAttestation}}
                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">STATUT SOCIO/P <br> SOCI/P STATUS</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.statutSocio}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">CARTE ROSE <br> PINK CARD</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.numeroCarteRose}}

                            </td>

                            <td class="col-md-3 label-td">
                                <span class="facture-td">CAT PERMI/C <br> CAT DRIVING/L</span>
                            </td>

                            <td class="col-md-1  ">
                                {{vm.contrat.categoriePermis}}

                            </td>



                        </tr>

                    </table>

                </div>

                <div class="facture-part">


                    <table border="1">

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">MARQUE/TYPE <br> MAKE/MODEL</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.vehicule.marque}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">CATEGORIE</span>
                            </td>

                            <td class="col-md-2  ">
                                 {{vm.contrat.vehicule.categorie}}
                            </td>

                            <td class="col-md-2 label-td" >
                                <span class="facture-td">IMMATRICULATION</span>

                            </td>

                            <td class="col-md-2 " colspan="3">
                                {{vm.contrat.vehicule.immatriculation}}
                            </td>

                        </tr>


                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">PUISSANCE <br> HORSE POWER</span>
                            </td>

                            <td class="col-md-2 item">
                                {{vm.contrat.vehicule.puissance}} CV
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ENERGIE <br> FUEL TYPE</span>
                            </td>

                            <td class="col-md-2  ">
                                {{vm.contrat.vehicule.source}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">CHASSIS <br> CHASSIS</span>

                            </td>

                            <td class="col-md-2 item" colspan="3">
                                {{vm.contrat.vehicule.numeroChassi}}
                            </td>


                        </tr>

                        <tr class="row">
                            <td class="col-md-1 label-td">
                                <span class="facture-td">DATE DE P/M/C <br> DATE OF F/C</span>
                            </td>

                            <td class="col-md-2 item">
                                {{vm.contrat.vehicule.datePremMiseCirculation | date:"dd/MM/yyyy" }}
                            </td>

                            <td class="col-md-1 label-td">
                                <span class="facture-td">DATE D/V/T <br> DATE L/V/T</span>
                            </td>

                            <td class="col-md-2 item ">
                                {{vm.contrat.vehicule.dateDerniereVT | date:"dd/MM/yyyy" }}
                            </td>

                            <td class="col-md-1 label-td">
                                <span class="facture-td">POIDS T/C <br> NET WEIGHT</span>

                            </td>

                            <td class="col-md-2 item">
                                {{vm.contrat.vehicule.poids}} Kg
                            </td>

                            <td class="col-md-2 label-td" colspan="2">
                                <span class="facture-td">PLACES <br> SEATS</span>

                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-1 label-td">
                                <span class="facture-td">VALEUR NEUF <br> COST</span>
                            </td>

                            <td class="col-md-1 item">
                                {{vm.contrat.vehicule.valeurNeuve}}
                            </td>



                            <td class="col-md-2 label-td">
                                <span class="facture-td">VALEUR ACC <br> ACCESSORIES</span>

                            </td>

                            <td class="col-md-2 item">
                                {{vm.contat.vehicule.valeurAccessoire}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ZONE <br> ZONE</span>

                            </td>

                            <td class="col-md-2 item" >
                                {{vm.contrat.zone.nom}}
                            </td>

                            <td class="col-md-2 item" colspan="2">
                                {{vm.contrat.vehicule.nbrePlace}}
                            </td>

                        </tr>

                    </table>

                </div>


                </div>





                <div class="facture-part ">

                    <table border="1" class="col-md-10 col-md-offset-2">

                        <tr class="">

                            <th rowspan="2" class="col-md-3 label-td"> GARANTIES </th>

                            <th rowspan="2" class="col-md-3 label-td"> CAPITAUX   </th>

                            <th class="col-md-6 label-td" colspan="6">PRIMES</th>

                        </tr>

                        <tr class="">


                            <th class="label-td">Annuelle</th>

                            <th class="label-td" ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? 'jour' : '%'"></th>

                            <th class="label-td">Nette</th>

                            <th class="label-td">bns</th>

                            <th class="label-td">SP</th>

                            <th class="label-td">Nette</th>

                        </tr>

                        <tr>
                            <td>RC ET RTI <br> Civil Liability & fire</td>
                            <td>500000000Dm</td>
                            <td ng-bind="vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)" ng-model="vm.annuel"></td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="(vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentage/100"></td>
                            <td>{{vm.contrat.bonus}}</td>
                            <td>{{vm.contrat.surplus}}</td>
                            <td id="garanti1" ng-bind="(vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentage/100"></td>

                        </tr>

                        <tr>
                            <td>Dommage par collision <br> Damage from collision </td>
                            <td>Franchise: 10% Min: 300000F</td>
                            <td ng-bind=" vm.contrat.isDommageCollision ? vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentDommageCollision/100 : 0 "></td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isDommageCollision  ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentDommageCollision/100) * vm.contrat.pourcentage / 100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti2" ng-bind="vm.contrat.isDommageCollision  ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentDommageCollision/100) * vm.contrat.pourcentage / 100 : 0"></td>

                        </tr>

                        <tr>
                            <td>Dommage tous accidents <br> Damage all accident</td>
                            <td>Franchise: 5% Min: 100000F</td>
                            <td ng-bind="vm.contrat.isDommageAccident ? vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentDommageAccident/100 : 0"></td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isDommageAccident ?(vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentDommageAccident/100) * vm.contrat.pourcentage / 100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti3" ng-bind="vm.contrat.isDommageAccident ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentDommageAccident/100) * vm.contrat.pourcentage / 100 : 0"></td>

                        </tr>

                        <tr>
                            <td>Vol Incendie <br> Thef-Fire</td>
                            <td>Franchise: 5% Min: 100000F</td>
                            <td ng-bind="vm.contrat.isVolIncendie ? vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentVolIncendie/100: 0"></td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isVolIncendie ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentVolIncendie/100) * vm.contrat.pourcentage / 100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti4" ng-bind="vm.contrat.isVolIncendie ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentVolIncendie/100) * vm.contrat.pourcentage / 100 : 0"></td>

                        </tr>

                        <tr>
                            <td> Vol Appareil Elect <br> theft elect.app </td>
                            <td>Franchise: 5% Min: 25000F</td>
                            <td>{{vm.contrat.annuelVolElectronic}}</td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isVolElectronic ? vm.contrat.annuelVolElectronic * vm.contrat.pourcentage / 100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti5" ng-bind="vm.contrat.isVolElectronic ? vm.contrat.annuelVolElectronic * vm.contrat.pourcentage / 100 : 0"></td>

                        </tr>

                        <tr>
                            <td> Avance sur recours / Advance before recourse </td>
                            <td>Franchise: 10% Min: 100000F</td>
                            <td>{{vm.contrat.annuelAvanceSecour}}</td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isAvanceSecour ? vm.contrat.annuelAvanceSecour * vm.contrat.pourcentage / 100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti6" ng-bind="vm.contrat.isAvanceSecour ? vm.contrat.annuelAvanceSecour * vm.contrat.pourcentage / 100 : 0"></td>

                        </tr>

                        <tr>
                            <td>   Assistance <br> Assistance </td>
                            <td> 2 000 000 FCFA Franchise</td>
                            <td ng-bind="vm.contrat.isAssistance ? vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentAssistance/100 : 0"></td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isAssistance ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentAssistance/100) * vm.contrat.pourcentage / 100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti7" ng-bind="vm.contrat.isAssistance ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentAssistance/100) * vm.contrat.pourcentage / 100: 0"></td>

                        </tr>

                        <tr>
                            <td>   Bris de glace & parebrise / Glass & windshield breakage </td>
                            <td> 	Franchise: 5% Min: 20000F</td>
                            <td ng-bind="vm.contrat.isBriseGlace ? vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentBriseGlace/100: 0"></td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isBriseGlace ? vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentBriseGlace/100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti8" ng-bind="vm.contrat.isBriseGlace ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentBriseGlace/100) * vm.contrat.pourcentage / 100 : 0"></td>

                        </tr>


                        <tr>
                            <td>  Recours Defence <br> Recourse defence	 </td>
                            <td> 	 ILLIMITE</td>
                            <td ng-bind="vm.contrat.isRecourDefence ? (vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentRecourDefense/100 : 0"></td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td  ng-bind=" vm.contrat.isRecourDefence ? (vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentRecourDefense/100 * vm.contrat.pourcentage /100 : 0" ></td>
                            <td></td>
                            <td></td>
                            <td  id="garanti9" ng-bind="vm.contrat.isRecourDefence ? (vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentRecourDefense/100 * vm.contrat.pourcentage /100 : 0"></td>

                        </tr>


                        <tr>
                            <td>  Individuel Accid - Chauffeur	</td>
                            <td>   Sans Franchise</td>
                            <td>{{vm.contrat.annuelIndAcc}}</td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td  ng-bind="vm.contrat.isIndAcc ? vm.contrat.annuelIndAcc * vm.contrat.pourcentage /100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti10" ng-bind="vm.contrat.isIndAcc ? vm.contrat.annuelIndAcc * vm.contrat.pourcentage /100 : 0"></td>

                        </tr>


                        <tr>
                            <td rowspan="3">  IPT <br> cover for passengers 	 </td>
                            <td> Deces  1 000 000</td>
                            <td>{{vm.contrat.iptDecesAnnuel}}</td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isIptInvalid ? vm.contrat.iptDecesAnnuel * vm.contrat.pourcentage /100 : 0"></td>
                            <td rowspan="3">N°<br>Pas</td>
                            <td rowspan="3" ng-bind="vm.contrat.vehicule.nbrePlace"></td>
                            <td id="garanti11" rowspan="3" ng-bind="vm.contrat.isIptInvalid  ? ((vm.contrat.iptDecesAnnuel * vm.contrat.pourcentage /100) + (vm.contrat.iptInvalidAnnuel * vm.contrat.pourcentage /100) + (vm.contrat.iptFMPHAnnuel * vm.contrat.pourcentage /100)) * vm.contrat.vehicule.nbrePlace : 0"></td>


                        </tr>

                        <tr>
                            <td>  Invalidité  1 000 000</td>
                            <td>{{vm.contrat.iptInvalidAnnuel}}</td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isIptInvalid  ? vm.contrat.iptInvalidAnnuel * vm.contrat.pourcentage /100: 0"></td>

                        </tr>

                        <tr>
                            <td> FMPH   100 000</td>
                            <td>{{vm.contrat.iptFMPHAnnuel}}</td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isIptInvalid  ? vm.contrat.iptFMPHAnnuel * vm.contrat.pourcentage /100 : 0"></td>


                        </tr>



                    </table>

                </div>

            <div class="row" >

                 <div class="col-md-6">

                     <div class="row sign">
                         <div class="col-md-8">
                             <u>L'ASSURE</u>
                         </div>

                     </div>


                     <div class="row sign">
                         <div class="col-md-8">
                             <u>LA COMPAGNIE</u>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-md-offset-1">
                             <b>{{vm.userAssurance.agence.ville}} le {{vm.today | date:"EEEE, MMMM d, y à HH:mm:ss"}}</b>
                         </div>
                     </div>


                 </div>

                 <div class="facture-part col-md-offset-1 col-md-5 ">

                    <table border="0" class="blockttc ">

                        <tr class="row">
                            <td class="col-md-8">PRIME NETTE</td>
                            <td class="col-md-4" id="primeNet"></td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">ACCESSOIRE</td>
                            <td class="col-md-4" id="accessoire">{{vm.contrat.accessoire}}</td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">COUT DE POLICE</td>
                            <td class="col-md-4" id="coutPolice">{{vm.contrat.coutPolice}}</td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">PRIME HT</td>
                            <td class="col-md-4" id="primeHT"></td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">TVA</td>
                            <td class="col-md-4" id="tva"></td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">ASAC</td>
                            <td class="col-md-4" id="asac">{{vm.contrat.asac}}</td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">CARTE ROSE</td>
                            <td class="col-md-4" id="carteRose">{{vm.contrat.carteRose}}</td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">VIGNETTE AUTO</td>
                            <td class="col-md-4" id="vignette"><span ng-show="vm.isVignette">{{vm.vignette.dateEffet}}</span><span ng-hide="vm.isVignette">{{vm.vignette.montant}}</span></td>
                        </tr>

                        <tr class="row" class="ttc">
                            <th class="col-md-8">PRIME TTC</th>
                            <th class="col-md-4">{{vm.contrat.primeTTC}}</th>
                        </tr>

                    </table>

                 </div>

                </div>

                <div class="row">

                    <div class="col-md-offset-1 sign">

                        <u>CLAUSES PARTICULIERES</u>

                        <p class="clause"> 1- Sont seules considérées comme souscrites les garanties dont des primes auront été payée <br>

                            2-Etendue territoriale: les garanties s'exercent pour les sinistres survenus au Cameroon ou dans l'un des pays membres de la CIMA,<br>

                            3-Le present contrat est établi d'après les déclarations du souscripteur, En cas de reticences, de fausse déclaration intentionnelle, d'omission ou de <br>

                            déclaration inéxacte, le souscripteur s'expose aux sanctions prévues par les articles 18 et 19 du Code CIMA

                        </p>

                    </div>

                </div>

        </div>


        <div ng-if="vm.contrat.typeAssuranceAuto.nom == 'ORION FIRST'" class="contrat" id="contrat" pdf-save-content="idOne" pdf-save-orientation="P">

            <div >

                <div class="row">

                    <div class="col-md-1 block-logo">
                        <img src="content/images/icon.png" width="75px"/>
                    </div>

                    <div class="col-md-5 left">

                        <h6><b>Inter-African <br> ORION <br> Insurance and Reinsurance Ltd </b></h6>
                        <span>Société de courtage / Brokevage Firm <br>BP 2868 Yaoundé Cameroun</span>

                    </div>



                    <div class="col-md-6  block-agence">
                        <span class="agence-name" >{{vm.userAssurance.agence.nom}} </span> <br><br>
                        <span class="agence-locality">{{vm.userAssurance.agence.localite}}</span> <br>
                        <span class="agence-number">{{vm.userAssurance.agence.contact}}</span> <br>



                    </div>

                </div>

                <div class="row block-title">
                    <center><span class="facture-title"><h5>PROPOSITION D'ASSURANCE AUTOMOBILE GROUPE</h5></span></center>
                    <center><span class="facture-title"><h5>GROUP MOTOR INSURANCE RATING</h5></span></center><br>
                    <center><small class="facture-title"><b>~ORION FIRST~</b></small></center>
                    <br><br>

                </div>

                <div class="facture-part">
                    <table border="1">
                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">ASSURE: <br> INSURED:</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.assure.nom}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">N° Police <br> Policy N°</span>
                            </td>

                            <td class="col-md-2  ">
                                {{vm.contrat.numeroPolice}}

                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">AGENT <br> AGENT</span>

                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.agent.numero}}
                            </td>

                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">ADRESSE <br> ADRESS</span>
                            </td>

                            <td class="col-md-2 ">
                                 {{vm.contrat.assure.adress}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">Date D'effet <br> Effective Date</span>
                            </td>

                            <td class="col-md-2  ">
                                {{ vm.contrat.dateEffet | date:"dd/MM/yyyy"}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">DUREE <br> DURATION</span>

                            </td>

                            <td class="col-md-2 ">

                                {{vm.contrat.duree}}
                            </td>

                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">PROFESSION <br> PROFESSION</span>
                            </td>

                            <td class="col-md-2 ">
                               {{vm.contrat.assure.profession}}
                            </td>



                            <td class="col-md-2 label-td">
                                <span class="facture-td">ECHEANCE <br> END</span>
                            </td>

                            <td class="col-md-2  " >

                                {{ vm.contrat.dateFin | date:"dd/MM/yyyy"}}

                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">Numero <br> Number</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.assure.number}}
                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">SOUSCRIPTEUR <br> SUBSCRIBER</span>
                            </td>

                            <td class="col-md-4 ">
                                {{vm.contrat.souscripteur}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ASSUREUR <br> INSURER</span>
                            </td>

                            <td class="col-md-4  " colspan="3">
                               {{vm.contrat.assureur.nom}}

                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">CONDUCTEUR <br> DRIVER</span>
                            </td>

                            <td class="col-md-4 ">
                                {{vm.contrat.conducteur}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ATTESTATION <br> CERTIFICAT</span>
                            </td>

                            <td class="col-md-4  " colspan="3">
                                  {{vm.contrat.numeroAttestation}}
                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">STATUT SOCIO/P <br> SOCI/P STATUS</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.statutSocio}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">CARTE ROSE <br> PINK CARD</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.numeroCarteRose}}

                            </td>

                            <td class="col-md-3 label-td">
                                <span class="facture-td">CAT PERMI/C <br> CAT DRIVING/L</span>
                            </td>

                            <td class="col-md-1  ">
                                {{vm.contrat.categoriePermis}}

                            </td>



                        </tr>

                    </table>

                </div>

                <div class="facture-part">


                    <table border="1">

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">MARQUE/TYPE <br> MAKE/MODEL</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.vehicule.marque}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">CATEGORIE</span>
                            </td>

                            <td class="col-md-2  ">
                                 {{vm.contrat.vehicule.categorie}}
                            </td>

                            <td class="col-md-2 label-td" >
                                <span class="facture-td">IMMATRICULATION</span>

                            </td>

                            <td class="col-md-2 " colspan="3">
                                {{vm.contrat.vehicule.immatriculation}}
                            </td>

                        </tr>


                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">PUISSANCE <br> HORSE POWER</span>
                            </td>

                            <td class="col-md-2 item">
                                {{vm.contrat.vehicule.puissance}} CV
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ENERGIE <br> FUEL TYPE</span>
                            </td>

                            <td class="col-md-2  ">
                                {{vm.contrat.vehicule.source}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">CHASSIS <br> CHASSIS</span>

                            </td>

                            <td class="col-md-2 item" colspan="3">
                                {{vm.contrat.vehicule.numeroChassi}}
                            </td>


                        </tr>

                        <tr class="row">
                            <td class="col-md-1 label-td">
                                <span class="facture-td">DATE DE P/M/C <br> DATE OF F/C</span>
                            </td>

                            <td class="col-md-2 item">
                                {{vm.contrat.vehicule.datePremMiseCirculation | date:"dd/MM/yyyy" }}
                            </td>

                            <td class="col-md-1 label-td">
                                <span class="facture-td">DATE D/V/T <br> DATE L/V/T</span>
                            </td>

                            <td class="col-md-2 item ">
                                {{vm.contrat.vehicule.dateDerniereVT | date:"dd/MM/yyyy" }}
                            </td>

                            <td class="col-md-1 label-td">
                                <span class="facture-td">POIDS T/C <br> NET WEIGHT</span>

                            </td>

                            <td class="col-md-2 item">
                                {{vm.contrat.vehicule.poids}} Kg
                            </td>

                            <td class="col-md-2 label-td" colspan="2">
                                <span class="facture-td">PLACES <br> SEATS</span>

                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-1 label-td">
                                <span class="facture-td">VALEUR NEUF <br> COST</span>
                            </td>

                            <td class="col-md-1 item">
                                {{vm.contrat.vehicule.valeurNeuve}}
                            </td>



                            <td class="col-md-2 label-td">
                                <span class="facture-td">VALEUR ACC <br> ACCESSORIES</span>

                            </td>

                            <td class="col-md-2 item">
                                {{vm.contat.vehicule.valeurAccessoire}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ZONE <br> ZONE</span>

                            </td>

                            <td class="col-md-2 item" >
                                {{vm.contrat.zone.nom}}
                            </td>

                            <td class="col-md-2 item" colspan="2">
                                {{vm.contrat.vehicule.nbrePlace}}
                            </td>

                        </tr>

                    </table>

                </div>


                </div>





                <div class="facture-part ">

                    <table border="1" class="col-md-10 col-md-offset-2">

                        <tr class="">

                            <th rowspan="2" class="col-md-3 label-td"> GARANTIES </th>

                            <th rowspan="2" class="col-md-3 label-td"> CAPITAUX   </th>

                            <th class="col-md-6 label-td" colspan="6">PRIMES</th>

                        </tr>

                        <tr class="">


                            <th class="label-td">Annuelle</th>

                            <th class="label-td" ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? 'jour' : '%'"></th>

                            <th class="label-td">Nette</th>

                            <th class="label-td">bns</th>

                            <th class="label-td">SP</th>

                            <th class="label-td">Nette</th>

                        </tr>

                        <tr>
                            <td>RC ET RTI <br> Civil Liability & fire</td>
                            <td>500000000Dm</td>
                            <td ng-bind="vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)" ng-model="vm.annuel"></td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="(vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentage/100"></td>
                            <td>{{vm.contrat.bonus}}</td>
                            <td>{{vm.contrat.surplus}}</td>
                            <td id="garanti1" ng-bind="(vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentage/100"></td>

                        </tr>


                        <tr>
                            <td>Vol Incendie <br> Thef-Fire</td>
                            <td>Franchise: 5% Min: 100000F</td>
                            <td ng-bind="vm.contrat.isVolIncendie ? vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentVolIncendie/100: 0"></td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isVolIncendie ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentVolIncendie/100) * vm.contrat.pourcentage / 100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti4" ng-bind="vm.contrat.isVolIncendie ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentVolIncendie/100) * vm.contrat.pourcentage / 100 : 0"></td>

                        </tr>





                        <tr>
                            <td>   Assistance <br> Assistance </td>
                            <td> 2 000 000 FCFA Franchise</td>
                            <td ng-bind="vm.contrat.isAssistance ? vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentAssistance/100 : 0"></td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isAssistance ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentAssistance/100) * vm.contrat.pourcentage / 100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti7" ng-bind="vm.contrat.isAssistance ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentAssistance/100) * vm.contrat.pourcentage / 100: 0"></td>

                        </tr>



                        <tr>
                            <td>  Recours Defence <br> Recourse defence	 </td>
                            <td> 	 ILLIMITE</td>
                            <td ng-bind="vm.contrat.isRecourDefence ? (vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentRecourDefense/100 : 0"></td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td  ng-bind=" vm.contrat.isRecourDefence ? (vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentRecourDefense/100 * vm.contrat.pourcentage /100 : 0" ></td>
                            <td></td>
                            <td></td>
                            <td  id="garanti9" ng-bind="vm.contrat.isRecourDefence ? (vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentRecourDefense/100 * vm.contrat.pourcentage /100 : 0"></td>

                        </tr>




                        <tr>
                            <td rowspan="3">  Individuel Accid - Chauffeur  	 </td>
                            <td> Deces  1 000 000</td>
                            <td>{{vm.contrat.iptDecesAnnuel}}</td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isIptInvalid ? vm.contrat.iptDecesAnnuel * vm.contrat.pourcentage /100 : 0"></td>
                            <td rowspan="3">N°<br>Pas</td>
                            <td rowspan="3" ng-bind="vm.contrat.vehicule.nbrePlace"></td>
                            <td id="garanti11" rowspan="3" ng-bind="vm.contrat.isIptInvalid  ? ((vm.contrat.iptDecesAnnuel * vm.contrat.pourcentage /100) + (vm.contrat.iptInvalidAnnuel * vm.contrat.pourcentage /100) + (vm.contrat.iptFMPHAnnuel * vm.contrat.pourcentage /100)) * 1 : 0"></td>


                        </tr>

                        <tr>
                            <td>  Invalidité  1 000 000</td>
                            <td>{{vm.contrat.iptInvalidAnnuel}}</td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isIptInvalid  ? vm.contrat.iptInvalidAnnuel * vm.contrat.pourcentage /100: 0"></td>

                        </tr>

                        <tr>
                            <td> FMPH   100 000</td>
                            <td>{{vm.contrat.iptFMPHAnnuel}}</td>
                            <td ng-bind="vm.contrat.typeAssuranceAuto.nom == 'POOL' ? vm.contrat.pourcentage * 360 /100 : vm.contrat.pourcentage ">{{vm.contrat.pourcentage}}</td>
                            <td ng-bind="vm.contrat.isIptInvalid  ? vm.contrat.iptFMPHAnnuel * vm.contrat.pourcentage /100 : 0"></td>


                        </tr>



                    </table>

                </div>

            <div class="row" >

                 <div class="col-md-6">

                     <div class="row sign">
                         <div class="col-md-8">
                             <u>L'ASSURE</u>
                         </div>

                     </div>


                     <div class="row sign">
                         <div class="col-md-8">
                             <u>LA COMPAGNIE</u>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-md-offset-1">
                             <b>{{vm.userAssurance.agence.ville}} le {{vm.today | date:"EEEE, MMMM d, y à HH:mm:ss"}}</b>
                         </div>
                     </div>


                 </div>

                 <div class="facture-part col-md-offset-1 col-md-5 ">

                    <table border="0" class="blockttc ">

                      <tr class="row">
                          <td class="col-md-8">PRIME BRUTE</td>
                          <td class="col-md-4" id="primeBrute"></td>
                      </tr>

                      <tr class="row">
                          <td class="col-md-8">REDUCTION GROUPE</td>
                          <td class="col-md-4" id="reduction"></td>
                      </tr>

                        <tr class="row">
                            <td class="col-md-8">PRIME NETTE</td>
                            <td class="col-md-4" id="primeNet"></td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">ACCESSOIRE</td>
                            <td class="col-md-4" id="accessoire">{{vm.contrat.accessoire}}</td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">COUT DE POLICE</td>
                            <td class="col-md-4" id="coutPolice">{{vm.contrat.coutPolice}}</td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">PRIME HT</td>
                            <td class="col-md-4" id="primeHT"></td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">TVA</td>
                            <td class="col-md-4" id="tva"></td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">ASAC</td>
                            <td class="col-md-4" id="asac">{{vm.contrat.asac}}</td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">CARTE ROSE</td>
                            <td class="col-md-4" id="carteRose">{{vm.contrat.carteRose}}</td>
                        </tr>

                        <tr class="row">
                            <td class="col-md-8">VIGNETTE AUTO</td>
                            <td class="col-md-4" id="vignette"><span ng-show="vm.isVignette">{{vm.vignette.dateEffet}}</span><span ng-hide="vm.isVignette">{{vm.vignette.montant}}</span></td>
                        </tr>

                        <tr class="row" class="ttc">
                            <th class="col-md-8">PRIME TTC</th>
                            <th class="col-md-4">{{vm.contrat.primeTTC}}</th>
                        </tr>

                    </table>

                 </div>

                </div>

                <div class="row">

                    <div class="col-md-offset-1 sign">

                        <u>CLAUSES PARTICULIERES</u>

                        <p class="clause"> 1- Sont seules considérées comme souscrites les garanties dont des primes auront été payée <br>

                            2-Etendue territoriale: les garanties s'exercent pour les sinistres survenus au Cameroon ou dans l'un des pays membres de la CIMA,<br>

                            3-Le present contrat est établi d'après les déclarations du souscripteur, En cas de reticences, de fausse déclaration intentionnelle, d'omission ou de <br>

                            déclaration inéxacte, le souscripteur s'expose aux sanctions prévues par les articles 18 et 19 du Code CIMA

                        </p>

                    </div>

                </div>



        </div>

        <iframe id="iFramePdf" src="content/verso.pdf" style="dispaly:none;" style="width:auto; height:auto"></iframe>
        <button class="btn btn-success" ng-click="printVerso('iFramePdf')"> Print Verso </button>


        </div>

        <br><br>

        <div class="col-md-12">

        <h3>Carte Rose</h3><hr>

        <div style=' margin-left:0px;'  class="carteRose row" pdf-save-content="carteRose" pdf-save-orientation="L">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            <table border="0" class="col-tresor-offset-1">
                <tr>
                    <td align='left' colspan='2'>{{vm.contrat.assure.nom}}</td>
                    <td></td>
                    <td align='left' width='200' colspan='2'>{{vm.contrat.assure.nom}}</td>
                    <td width='30'></td><td width='190' ></td>
                    <td class="col-md-2"></td>
                    <td>{{vm.contrat.dateEffet | date :"mediumDate"}}</td>
                    <td >{{vm.contrat.dateFin | date :"mediumDate"}}</td>
<td></td>
                    <td></td>


                </tr>
                <tr class="row">
                    <td  >{{vm.contrat.assure.adress}}</td>
                    <td></td>
                    <td>{{vm.contrat.assure.adress}}</td>
                    <td align='center'></td>
                    <td></td>
                    <td></td>
                    <td class="col-md-2"></td>
                    <td></td>
                    <td>{{vm.contrat.numeroPolice}}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr height='26'>
                    <td></td>
                    <td  >{{vm.contrat.vehicule.immatriculation}}</td>
                    <td ></td><td></td><td >{{vm.contrat.vehicule.immatriculation}}</td>
                    <td ></td>
                    <td>{{vm.contrat.assure.nom}}</td>
                    <td class="col-md-2"></td>
                    <td align='right'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{vm.contrat.dateEffet | date :"mediumDate"}}</td>
                    <td align='center'>{{vm.contrat.dateFin | date :"mediumDate"}}</td><td></td>
                    <td></td></tr>
                <tr><td></td><td >{{vm.contrat.vehicule.marque}}</td>
                    <td></td>
                    <td></td>
                    <td >{{vm.contrat.vehicule.marque}}</td>
                    <td></td>
                    <td>{{vm.contrat.assure.adress}}</td>
                    <td class="col-md-2"></td>
                    <td></td>
                    <td></td><td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="col-md-2"></td>
                    <td></td>
                    <td>{{vm.contrat.vehicule.marque}}</td><td></td>
                    <td></td>
                </tr>
                <tr height='20' valign='top'>
                    <td>{{vm.contrat.assureur.nom}}</td>
                    <td></td>
                    <td></td>
                    <td>{{vm.contrat.assureur.nom}}</td>
                    <td></td>
                    <td></td>
                    <td align='right'>{{vm.contrat.vehicule.immatriculation}}</td>
                    <td class="col-md-2"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="col-md-2"></td>
                    <td>{{vm.contrat.vehicule.numeroChassi}}</td>
                    <td></td>
                </tr>

                <tr style="height:20px">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan='2'    align='right'>ORION ASSURANCE SARL </td>
                    <td></td>
                    <td colspan='2'    align='right'>ORION ASSURANCE SARL </td>
                    <td><td   align='left'>{{vm.contrat.assureur.nom}}</td>
                    </td><td></td><td colspan='2'    align='right'>ORION ASSURANCE SARL <br> BP 2868 YAOUNDE </td></tr>
                <tr>
                    <td colspan='2'    align='right'></td>
                    <td></td>
                    <td colspan='2'    align='right'></td>
                    <td class="col-md-2"></td>
                    <td   align='left'></td></td>
                    <td></td><td colspan='2'    align='right'></td>
                </tr>
                <tr style="height:5px">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>

                    <td colspan='2'   align='center'>{{vm.contrat.numeroPolice}}</td>
                    <td ></td>
                    <td colspan='2'   align='center'>{{vm.contrat.numeroPolice}}</td>
                    <td ></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="height:20px">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr valign='bottom'>
                    <td align='center'>{{vm.contrat.dateEffet | date :"d/M/y"}}</td>
                    <td>{{vm.contrat.dateFin | date :"d/M/y"}}</td><td></td><td align='center'>{{vm.contrat.dateEffet | date :"d/M/y"}}</td><td>{{vm.contrat.dateFin | date :"d/M/y"}}</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td align='right'></td><td></td><td>Fait à Ydé le </td><td>{{vm.today | date:"d/MM/y,HH:mm"}}</td></tr>
                <tr height='26' valign='bottom'><td align='center'>{{vm.contrat.vehicule.categorie}}</td><td></td><td></td><td align='center'>{{vm.contrat.vehicule.categorie}}</td><td></td><td></td><td align='center'>{{vm.contrat.vehicule.categorie}}</td><td></td><td></td><td></td></tr>
            </table>
        </div>

        <br><br>

        <h3>Attestation </h3> <hr>

        <div style=''  pdf-save-content="attestation" pdf-save-orientation="L">
            <br><br><br><br><br><br><br><br><br>
            <table class="col-tresor-offset-1">
                <tr><td>
                    <table style='border-collapse:collapse; font-size:8pt; font-weight:bold' border='0'>
                         <tr>
                            <td colspan='2' height='10' align='center'></td>
                        </tr>
                        <tr>
                            <td colspan='2' align='center'>{{vm.contrat.assure.nom}},{{vm.contrat.assure.adress}}</td>
                        </tr>

                        <tr>
                            <td>&nbsp;</td><td>{{vm.contrat.numeroPolice}}</td>
                        </tr>

                        <tr align='center'>
                            <td>{{vm.contrat.dateEffet | date :"d/M/y"}}</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{vm.contrat.dateFin | date :"d/M/y"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align='right'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{vm.contrat.vehicule.marque}}</td>
                        </tr>
			 <tr>
                            <td></td>
                            <td align='right'></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{vm.contrat.vehicule.immatriculation}}</td>
                        </tr>
                        <tr><td>&nbsp;</td><td></td></tr>
                        <tr><td colspan='2' align='right'>{{vm.contrat.vehicule.categorie}}</td></tr>
                        <tr><td>&nbsp;</td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td></tr>
                        <tr><td >&nbsp;</td><td></td></tr>
                    </table>
                </td>
                    <td width='150'>
                    </td>
                    <td>
                        <table style='border-collapse:collapse; font-size:8pt; font-weight:bold' border='0'>
                            <tr><td width='90'>&nbsp;</td><td width='110'></td></tr>
                            <tr><td>&nbsp;</td><td></td></tr><tr><td>&nbsp;</td><td></td></tr><tr><td>&nbsp;</td><td></td></tr>
                            <tr><td colspan='2' height='10' align='center'>{{vm.contrat.numeroPolice}}</td></tr>
                            <tr align='right'><td>{{vm.contrat.dateEffet | date :"d/M/y"}}</td><td>{{vm.contrat.dateFin | date :"d/M/y"}}</td></tr>
                            <tr><td></td><td align='right'>{{vm.contrat.vehicule.marque}}</td></tr>

                            <tr><td></td><td align='right' >{{vm.contrat.vehicule.immatriculation}}</td></tr>
                            <tr><td colspan='2' align='center'></td></tr>
                            <tr><td>&nbsp;</td><td></td></tr>
                            <tr><td>&nbsp;</td><td></td></tr>
                            <tr></td><td colspan='2' align='right'>{{vm.contrat.vehicule.categorie}}</td></tr>
                            <tr><td>&nbsp;</td><td></td></tr>
                            <tr><td>&nbsp;</td><td></td></tr>
                            <tr><td>&nbsp;</td><td></td></tr>
                        </table>
                    </td>
                    <td width='70'>
                    </td>
                    <td>
                        <table style='border-collapse:collapse; font-size:8pt; font-weight:bold' border='0'>
                            <tr height="20px">
                               <td></td>
                            </tr>

                            <tr>
                                <td colspan='2'>{{vm.contrat.assure.nom}} {{vm.contrat.assure.adress}}</td>
                            </tr>
                            <tr height="5px">
                               <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>{{vm.contrat.assure.profession}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>{{vm.contrat.numeroPolice}}</td>
                            </tr>
                            <tr align='center'><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{vm.contrat.dateEffet | date :"d/M/y"}}</td><td>&nbsp;&nbsp;&nbsp;&nbsp;{{vm.contrat.dateFin | date :"d/M/y"}}</td></tr>
                            <tr><td></td><td align='right'>{{vm.contrat.vehicule.marque}}</td></tr>

                                <td></td>
                                <td>{{vm.contrat.vehicule.immatriculation}}</td>
                            </tr>
                            <tr><td  width='140'>&nbsp;</td><td width='100'></td></tr>
                            <tr><td colspan='2'></td><td colspan='2'></td><td colspan='2'></td><td colspan='2' align='right'>{{vm.contrat.vehicule.categorie}}</td></tr>
                            <tr><td  width='140'>&nbsp;</td><td width='100'></td></tr>
                            <tr><td  width='140'>&nbsp;</td><td width='100'></td></tr>
                            <tr><td  width='140'>&nbsp;</td><td width='100'></td></tr>
                        </table>
                    </td>
                    <td width='50'>
                    </td>
                    <td>
                        <table style='border-collapse:collapse; font-size:8pt; font-weight:bold' border='0'>
                            <tr><td colspan='2' align='center'>&nbsp;</td></tr>
                            <tr><td colspan='2' align='center'>&nbsp;</td></tr>
                            <tr><td colspan='2' align='center'>&nbsp;</td></tr>
                            <tr><td colspan='2' align='center'>&nbsp;</td></tr>
                            <tr><td  width='140'></td><td width='100'>&nbsp;</td></tr>
                            <tr align='right'><td></td><td>&nbsp;</td></tr>
                            <tr><td></td><td align='right'>&nbsp;</td></tr>
                            <tr height='8'><td></td><td></td></tr>
                            <tr><td>&nbsp;</td><td align='right' ></td></tr>
                            <tr><td colspan='2' align='center'>&nbsp;</td></tr>
                            <tr><td  width='140'>&nbsp;</td><td width='100'>&nbsp;</td></tr>
                            <tr><td colspan='2' align='center'>&nbsp;</td></tr>
                            <tr><td  width='140'>&nbsp;</td><td width='100'>&nbsp;</td></tr>
                            <tr><td  width='140'>&nbsp;</td><td width='100'>&nbsp;</td></tr>
                            <tr><td  width='140' align='right'>Yaoundé le:</td><td width='100' align='right'>{{vm.today | date:"d/M/y,HH:mm"}}</td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <br><hr><br><br>


    <div pdf-save-content="libelle" pdf-save-orientation="P">

                <div class="row">

                    <div class="col-md-1 block-logo">
                        <img src="content/images/icon.png" width="75px"/>
                    </div>

                    <div class="col-md-5 left">
                        <h6><b>Inter-African <br> ORION <br> Insurance and Reinsurance Ltd </b></h6>
                        <span>Société de courtage / Brokevage Firm <br>BP 2868 Yaoundé Cameroun</span>
                    </div>

                    <div class="col-md-6  block-agence">
                        <span class="agence-name" >{{vm.userAssurance.agence.nom}} </span> <br><br>
                        <span class="agence-locality">{{vm.userAssurance.agence.localite}}</span> <br>
                        <span class="agence-number">{{vm.userAssurance.agence.contact}}</span> <br>
                    </div>

                </div>

                <div class="row block-title">
                    <center><span class="facture-title"><h5>PROPOSITION D'ASSURANCE AUTOMOBILE</h5></span></center>
                    <center><span class="facture-title"><h5>MOTOR INSURANCE QUESTIONNAIRE</h5></span></center>
                </div>

                <div class="facture-part">
                    <table border="1">
                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">ASSURE: <br> INSURED:</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.assure.nom}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">N° Police <br> Policy N°</span>
                            </td>

                            <td class="col-md-2  ">
                                {{vm.contrat.numeroPolice}}

                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">AGENT <br> AGENT</span>

                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.agent.numero}}
                            </td>

                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">ADRESSE <br> ADRESS</span>
                            </td>

                            <td class="col-md-2 ">
                                 {{vm.contrat.assure.adress}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">Date D'effet <br> Effective Date</span>
                            </td>

                            <td class="col-md-2  ">
                                {{ vm.contrat.dateEffet | date:"dd/MM/yyyy"}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">DUREE <br> DURATION</span>

                            </td>

                            <td class="col-md-2 ">

                                {{vm.contrat.duree}}
                            </td>

                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">PROFESSION <br> PROFESSION</span>
                            </td>

                            <td class="col-md-2 ">
                               {{vm.contrat.assure.profession}}
                            </td>



                            <td class="col-md-2 label-td">
                                <span class="facture-td">ECHEANCE <br> END</span>
                            </td>

                            <td class="col-md-2  " >

                                {{ vm.contrat.dateFin | date:"dd/MM/yyyy"}}

                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">Numero <br> Number</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.assure.number}}
                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">SOUSCRIPTEUR <br> SUBSCRIBER</span>
                            </td>

                            <td class="col-md-4 ">
                                {{vm.contrat.souscripteur}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ASSUREUR <br> INSURER</span>
                            </td>

                            <td class="col-md-4  " colspan="3">
                               {{vm.contrat.assureur.nom}}

                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">CONDUCTEUR <br> DRIVER</span>
                            </td>

                            <td class="col-md-4 ">
                                {{vm.contrat.conducteur}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ATTESTATION <br> CERTIFICAT</span>
                            </td>

                            <td class="col-md-4  " colspan="3">
                                  {{vm.contrat.numeroAttestation}}
                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">STATUT SOCIO/P <br> SOCI/P STATUS</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.statutSocio}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">CARTE ROSE <br> PINK CARD</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.numeroCarteRose}}

                            </td>

                            <td class="col-md-3 label-td">
                                <span class="facture-td">CAT PERMI/C <br> CAT DRIVING/L</span>
                            </td>

                            <td class="col-md-1  ">
                                {{vm.contrat.categoriePermis}}

                            </td>



                        </tr>

                    </table>

                </div>

                <div class="facture-part">


                    <table border="1">

                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">MARQUE/TYPE <br> MAKE/MODEL</span>
                            </td>

                            <td class="col-md-2 ">
                                {{vm.contrat.vehicule.marque}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">CATEGORIE</span>
                            </td>

                            <td class="col-md-2  ">
                                 {{vm.contrat.vehicule.categorie}}
                            </td>

                            <td class="col-md-2 label-td" >
                                <span class="facture-td">IMMATRICULATION</span>

                            </td>

                            <td class="col-md-2 " colspan="3">
                                {{vm.contrat.vehicule.immatriculation}}
                            </td>

                        </tr>


                        <tr class="row">
                            <td class="col-md-2 label-td">
                                <span class="facture-td">PUISSANCE <br> HORSE POWER</span>
                            </td>

                            <td class="col-md-2 item">
                                {{vm.contrat.vehicule.puissance}} CV
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ENERGIE <br> FUEL TYPE</span>
                            </td>

                            <td class="col-md-2  ">
                                {{vm.contrat.vehicule.source}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">CHASSIS <br> CHASSIS</span>

                            </td>

                            <td class="col-md-2 item" colspan="3">
                                {{vm.contrat.vehicule.numeroChassi}}
                            </td>


                        </tr>

                        <tr class="row">
                            <td class="col-md-1 label-td">
                                <span class="facture-td">DATE DE P/M/C <br> DATE OF F/C</span>
                            </td>

                            <td class="col-md-2 item">
                                {{vm.contrat.vehicule.datePremMiseCirculation | date:"dd/MM/yyyy" }}
                            </td>

                            <td class="col-md-1 label-td">
                                <span class="facture-td">DATE D/V/T <br> DATE L/V/T</span>
                            </td>

                            <td class="col-md-2 item ">
                                {{vm.contrat.vehicule.dateDerniereVT | date:"dd/MM/yyyy" }}
                            </td>

                            <td class="col-md-1 label-td">
                                <span class="facture-td">POIDS T/C <br> NET WEIGHT</span>

                            </td>

                            <td class="col-md-2 item">
                                {{vm.contrat.vehicule.poids}} Kg
                            </td>

                            <td class="col-md-2 label-td" colspan="2">
                                <span class="facture-td">PLACES <br> SEATS</span>

                            </td>



                        </tr>

                        <tr class="row">
                            <td class="col-md-1 label-td">
                                <span class="facture-td">VALEUR NEUF <br> COST</span>
                            </td>

                            <td class="col-md-1 item">
                                {{vm.contrat.vehicule.valeurNeuve}}
                            </td>



                            <td class="col-md-2 label-td">
                                <span class="facture-td">VALEUR ACC <br> ACCESSORIES</span>

                            </td>

                            <td class="col-md-2 item">
                                {{vm.contat.vehicule.valeurAccessoire}}
                            </td>

                            <td class="col-md-2 label-td">
                                <span class="facture-td">ZONE <br> ZONE</span>

                            </td>

                            <td class="col-md-2 item" >
                                {{vm.contrat.zone.nom}}
                            </td>

                            <td class="col-md-2 item" colspan="2">
                                {{vm.contrat.vehicule.nbrePlace}}
                            </td>

                        </tr>

                    </table>

                </div>
                 <div class="row sign">

                        <div class="col-md-6">
                            <center><b><u>Le Souscripteur</u></b>  </center>
                            </div>

                            <div class="col-md-6">
                                <center> <b><u>La Caissier</u></b></center>
                            </div>

                    </div>

                <div class="row">

                    <div class="col-md-6">
                        <center><b>{{vm.contrat.souscripteur}}</b>  </center>
                    </div>

                    <div class="col-md-6">
                        <center> <b>{{vm.userAssurance.nom}}</b></center>
                    </div>

                </div>
                <br><br><br>
                <div class="row">

                    <div class="col-md-offset-1 sign">

                        <u>CLAUSES PARTICULIERES</u>

                        <p class="clause"> 1- Sont seules considÃ©rÃ©es comme souscrites les garanties dont des primes auront Ã©tÃ© payÃ©e <br>

                            2-Etendue territoriale: les garanties s'exercent pour les sinistres survenus au Cameroon ou dans l'un des pays membres de la CIMA,<br>

                            3-Le present contrat est Ã©tabli d'aprÃ¨s les dÃ©clarations du souscripteur, En cas de reticences, de fausse dÃ©claration intentionnelle, d'omission ou de <br>

                            dÃ©claration inÃ©xacte, le souscripteur s'expose aux sanctions prÃ©vues par les articles 18 et 19 du Code CIMA

                        </p>

                    </div>

                </div>


                </div>

           </div>


    </div>



</div>

</div>
