<div class="row">

  <div class="col-md-3 row">

    <div class="">
      <label>Nom et raison sociale </label>
    </div>

    <div class="">
      <input type="text" ng-model="dossier.name"/>
    </div>

    <div class="">
      <label>Montant de la caution </label>
    </div>

    <div class="">
      <input type="number" ng-model="dossier.caution"/>
    </div>

      <div class="">
        <label>Type de caution </label>
      </div>

      <div class="">
        <input type="text" ng-model="dossier.type"/>
      </div>

      <div class="">
        <label>Montant des D.O.D </label>
      </div>

      <div class="">
        <input type="text" ng-model="dossier.dod"/>
      </div>

      <div class="">
        <label>T.V.A </label>
      </div>

      <div class="">
        <input type="text" ng-model="dossier.tva"/>
      </div>

      <div class="">
        <label>Total à payer</label>
      </div>

      <div class="">
        <input type="text" ng-model="dossier.ttc"/>
      </div>

      <br>

      <div class="row">
        <button type="button"  class="btn btn-default "  pdf-save-button="dossier" pdf-name="someone.pdf">
            <span class="glyphicon glyphicon-print"></span>
            <span class="hidden-xs hidden-sm" > Print Dossier</span>
        </button>
        <br>
        <iframe id="csoumission" src="content/csoumission.pdf" class="" style="display:inline; width:90%"></iframe>
        <button class="btn btn-success" ng-click="print('csoumission')"> Print Cause Soumission </button>
         <br>
        <iframe id="cmarche" src="content/cmarche.pdf" class="" style="display:inline; width:90%"></iframe>
        <button class="btn btn-success" ng-click="print('cmarche')"> Print Cause Marché </button>
      </div>
</div>

 <div class="col-md-9">

     <div id="dossier" pdf-save-content="dossier">

       <div class="row">

           <div class="col-md-1 block-logo">
               <img src="content/images/icon.png" width="75px"/>
           </div>

           <div class="col-md-5 left">

               <h6><b>Inter-African <br> ORION <br> Insurance and Reinsurance Ltd </b></h6>
               <span>Société de courtage / Brokevage Firm <br>BP 2868 Yaoundé Cameroun</span>

           </div>



           <div class="col-md-6  block-agence">
               <span class="agence-name" >{{vm.userAssurance.agence.nom}} </span> <br><br>
               <span class="agence-locality">{{vm.userAssurance.agence.localite}}</span> <br>
               <span class="agence-number">{{vm.userAssurance.agence.contact}}</span> <br>



           </div>

       </div>

       <br><br><br>

       <div class="row">

            <center> <h3 style="border: solid 3px #000; width:50%; color:#000"> DROIT D'OUVERTURE DU DOSSIER </h3></center>
            <br><br>
            <center><h5><u><b>Imprimé à remetre à la caisse pour paiement</b></u></h5></center>
            <br><br>

             <div style="font-size:15px; color:#000; ">

                <div class="row col-md-offset-1 col-md-9" >
                    NOM ET RAISON SOCIALE : <b> <span ng-bind="dossier.name"></span> </b>
                </div>

                <br><br>

                <div class="row col-md-offset-1 col-md-9">
                    MONTANT DE LA CAUTION OU DU CREDIT : <b> <span ng-bind="dossier.caution"></span> F CFA </b>
                </div>

                <br><br>


                <div class="row col-md-offset-1 col-md-9">
                    TYPE DE CAUTION OU DE CREDIT : <b> <span ng-bind="dossier.type"></span> </b>
                </div>

                <br><br>


                <div class="row col-md-offset-1 col-md-9">
                    MONTANT DES D.O.D : <b> <span ng-bind="dossier.dod"></span> F CFA </b>
                </div>

                <br><br>


                <div class="row col-md-offset-1 col-md-9">
                    TVA (19,25%) : <b> <span ng-bind="dossier.tva"></span> F CFA </b>
                </div>

                <br><br>


                <div class="row col-md-offset-1 col-md-9">
                   <b>  TOTAL A PAYER : <b> <span ng-bind="dossier.ttc"></span> </b> F CFA </b>
                </div>

                <br><br>

                <div class="col-md-offset-5" style="margin-right:50px">
                  <b>{{vm.userAssurance.agence.ville}} le {{vm.today | date:"EEEE, MMMM d, y à HH:mm:ss"}}</b>

                </div>

                <br><br>

                <div class="col-md-offset-1">
                     <b><u>NB : </u></u> <span>Les droits d'ouvertures du dossier ne sont pas remboursables</span>
                </div>

                <br><br>

                <div class="">
                   <center>
                        <table border="1" style="text-align:center">
                            <tr>
                              <th>Montant de l'Engagement (en FCFA)</th>
                              <th>Montant des D.O.D (en FCFA)</th>
                            </tr>
                            <tr>
                              <td>De 0 à 50.000.000</td>
                              <td>25 000</td>
                            </tr>
                            <tr>
                              <td>De 50.000.001 à 100.000.000</td>
                              <td>50 000</td>
                            </tr>
                            <tr>
                              <td>De 100.000.001 à 200.000.000</td>
                              <td>75 000</td>
                            </tr>
                            <tr>
                              <td>De 200.000.001 à 300.000.000</td>
                              <td>100 000</td>
                            </tr>
                            <tr>
                              <td>Plus de 300.000.000</td>
                              <td>A etudier</td>
                            </tr>
                        </table>
                        <br><br>

                        <p><u><b>Imprimé à retourner dans les services après encaissement</b></u></p>
                   </center>

                </div>
            </div>



       </div>

     </div>

  </div>




</div>
