<div ng-cloak>
    <div class="row">
        <div class="col-md-12">

            <div class="contrat">

                <form ng-submit="vm.save()">

                <div class="row">

                    <div class="col-md-6 block-logo">
                        <img src="content/images/logo.png" width="100px"/> <br>

                        <label>BP 2868 Yaoundé Cameroun </label>
                    </div>

                    <div class="col-md-6 block-agence">
                        <label class="agence-name"><h4>{{vm.userAssurance.agence.nom}}</h4> </label> <br>
                        <label class="agence-locality">{{vm.userAssurance.agence.localite}}</label> <br>
                        <label class="agence-number">{{vm.userAssurance.agence.contact}}</label> <br>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">
                        <center><label class="facture-title"><h3>Proposition d'Assurance Automobile</h3></label></center>
                    </div>
                </div>

                <div class="facture-part">
                    <table border="1">
                    <tr class="row">
                        <td class="col-md-2 item">
                            <label class="facture-td">Assuré</label>
                        </td>

                        <td class="col-md-2 item">
                            <input type="text" class="facture-td" ng-model="vm.contrat.assure.nom" required/>
                        </td>

                        <td class="col-md-2 item">
                            <label class="facture-td">N° Police</label>
                        </td>

                        <td class="col-md-2 item ">
                            <input type="text" class="facture-td" ng-model="vm.contrat.numeroPolice" required/>

                        </td>

                        <td class="col-md-2 item">
                            <label class="facture-td">Agent</label>

                        </td>

                        <td class="col-md-2 item">
                            <select class="facture-td" id="field_agent" name="agent" ng-model="vm.contrat.agent" ng-options="agent as agent.nom for agent in vm.agents track by agent.id" required>
                                <option value=""></option>
                            </select>
                        </td>

                    </tr>

                    <tr class="row">
                        <td class="col-md-2 item">
                            <label class="facture-td">Adresse</label>
                        </td>

                        <td class="col-md-2 item">
                            <input type="text" class="facture-td" ng-model="vm.contrat.assure.adress" required />
                        </td>

                        <td class="col-md-2 item">
                            <label class="facture-td">Date Effet</label>
                        </td>

                        <td class="col-md-2 item ">
                            <input type="date" class="facture-td" ng-model="vm.contrat.dateEffet"  ng-change="vm.calculDuree(vm.contrat.dateEffet,vm.contrat.dateFin)" required/>

                        </td>

                        <td class="col-md-2 item">
                            <label class="facture-td">Durée</label>

                        </td>

                        <td class="col-md-2 item">
                            <input class="facture-td"  ng-model="vm.contrat.duree" ng-change="vm.calculE()" required/>
                        </td>

                    </tr>

                    <tr class="row">
                        <td class="col-md-2 item">
                            <label class="facture-td">Profession</label>
                        </td>

                        <td class="col-md-2 item">
                            <input type="text" class="facture-td" ng-model="vm.contrat.assure.profession" />
                        </td>

                        <td class="col-md-2 item">
                            <label class="facture-td">Numero</label>
                        </td>

                        <td class="col-md-2 item">
                            <input type="text" class="facture-td" ng-model="vm.contrat.assure.number" required/>
                        </td>

                        <td class="col-md-2 item">
                            <label class="facture-td">Echéance</label>
                        </td>

                        <td class="col-md-2 item " colspan="3">

                            {{ vm.contrat.dateFin | date:"dd/MM/yyyy"}}

                        </td>



                    </tr>

                    <tr class="row">
                        <td class="col-md-2 item">
                            <label class="facture-td">Souscripteur</label>
                        </td>

                        <td class="col-md-4 item">
                            <input type="text" class="facture-td"  ng-model="vm.contrat.souscripteur" required/>
                        </td>

                        <td class="col-md-2 item">
                            <label class="facture-td">Assureur</label>
                        </td>

                        <td class="col-md-4 item " colspan="3">
                            <select class="form-control" id="field_assureur" name="assureur" ng-model="vm.contrat.assureur" ng-options="assureur as assureur.nom for assureur in vm.assureurs track by assureur.id" required>
                                <option value=""></option>
                            </select>

                        </td>



                    </tr>

                    <tr class="row">
                        <td class="col-md-2 item">
                            <label class="facture-td">Conducteur</label>
                        </td>

                        <td class="col-md-4 item">
                            <input type="text" class="facture-td" ng-model="vm.contrat.conducteur" required/>
                        </td>

                        <td class="col-md-2 item">
                            <label class="facture-td">Attestation</label>
                        </td>

                        <td class="col-md-4 item " colspan="3">
                            <input type="text" class="facture-td" ng-model="vm.contrat.numeroAttestation" required/>

                        </td>



                    </tr>

                    <tr class="row">
                        <td class="col-md-2 item">
                            <label class="facture-td">Statut Socio</label>
                        </td>

                        <td class="col-md-2 item">
                            <input type="text" class="facture-td" ng-model="vm.contrat.statutSocio"/>
                        </td>

                        <td class="col-md-2 item">
                            <label class="facture-td">Carte Rose</label>
                        </td>

                        <td class="col-md-4 item">
                            <input type="text" class="facture-td" ng-model="vm.contrat.numeroCarteRose" required/>

                        </td>

                        <td class="col-md-1 item">
                            <label class="facture-td">Cat. Permis</label>
                        </td>

                        <td class="col-md-1 item ">
                            <select class="form-control" name="categoriePermis" ng-model="vm.contrat.categoriePermis" id="field_categoriePermis">
                                <option value="A" translate="orionSoftApp.PERMIS.A">A</option>
                                <option value="B" translate="orionSoftApp.PERMIS.B">B</option>
                                <option value="C" translate="orionSoftApp.PERMIS.C">C</option>
                                <option value="D" translate="orionSoftApp.PERMIS.D">D</option>
                                <option value="E" translate="orionSoftApp.PERMIS.E">E</option>
                                <option value="F" translate="orionSoftApp.PERMIS.F">F</option>
                            </select>
                        </td>



                    </tr>

                    </table>

                </div>

                <div class="facture-part">


                    <table border="1">

                    <tr class="row">
                        <td class="col-md-1 item">
                            <label class="facture-td">Marque</label>
                        </td>

                        <td class="col-md-2 item">
                            <input type="text" class="facture-td"  ng-model="vm.contrat.vehicule.marque" required/>
                        </td>

                        <td class="col-md-2 item">
                            <label class="facture-td">Categorie</label>
                        </td>

                        <td class="col-md-2 item ">
                            <input type="text" ng-model="vm.contrat.vehicule.categorie"/>
                        </td>

                        <td class="col-md-2 item" colspan="2">
                            <label class="facture-td">Immatriculation</label>

                        </td>

                        <td class="col-md-3 item" colspan="2">
                            <input type="text" class="facture-td" ng-model="vm.contrat.vehicule.immatriculation" required/>
                        </td>

                    </tr>


                    <tr class="row">
                        <td class="col-md-1 item">
                            <label class="facture-td">Puissance</label>
                        </td>

                        <td class="col-md-2 item">
                            <input type="text" class="facture-td" ng-model="vm.contrat.vehicule.puissance" ng-change="vm.calculVignetteAuto()" required/>
                        </td>

                        <td class="col-md-1 item">
                            <label class="facture-td">Energie</label>
                        </td>

                        <td class="col-md-2 item ">
                            <select class="form-control" name="source" ng-model="vm.contrat.vehicule.source" id="field_source">
                                <option value="DIESEL" translate="orionSoftApp.SOURCE_ENERGIE.DIESEL">DIESEL</option>
                                <option value="ESSENCE" translate="orionSoftApp.SOURCE_ENERGIE.ESSENCE">ESSENCE</option>
                            </select>
                        </td>

                        <td class="col-md-1 item">
                            <label class="facture-td">Chassis</label>

                        </td>

                        <td class="col-md-2 item">
                            <input type="text" class="facture-td" ng-model="vm.contrat.vehicule.numeroChassi"/>
                        </td>

                        <td class="col-md-1 item">
                            <label class="facture-td">Remorq.</label>

                        </td>

                        <td class="col-md-2 item">
                            <input type="text" class="facture-td"/>
                        </td>

                    </tr>

                    <tr class="row">
                        <td class="col-md-1 item">
                            <label class="facture-td">Date PMC</label>
                        </td>

                        <td class="col-md-2 item">
                            <input type="date" class="facture-td" ng-model="vm.contrat.vehicule.datePremMiseCirculation"/>
                        </td>

                        <td class="col-md-1 item">
                            <label class="facture-td">Date DVT</label>
                        </td>

                        <td class="col-md-2 item ">
                            <input type="date" class="facture-td" ng-model="vm.contrat.vehicule.dateDerniereVT"/>
                        </td>

                        <td class="col-md-1 item">
                            <label class="facture-td">Poids</label>

                        </td>

                        <td class="col-md-2 item">
                            <input type="number" class="facture-td" ng-model="vm.contrat.vehicule.poids"/>
                        </td>

                        <td class="col-md-2 item" colspan="2">
                            <label class="facture-td">Places.</label>

                        </td>



                    </tr>

                    <tr class="row">
                        <td class="col-md-1 item">
                            <label class="facture-td">Valeur Neuve / Venale</label>
                        </td>

                        <td class="col-md-1 item">
                            <input type="number" class="facture-td"  ng-model="vm.contrat.vehicule.valeurNeuve" ng-change="vm.changeValue()"/>
                        </td>



                        <td class="col-md-2 item">
                            <label class="facture-td">Valeur Acc.</label>

                        </td>

                        <td class="col-md-2 item">
                            <input type="number" class="facture-td" ng-model="vm.contrat.vehicule.valeurAccessoire"/>
                        </td>

                        <td class="col-md-2 item">
                            <label class="facture-td">Zone</label>

                        </td>

                        <td class="col-md-2 item" >
                            <select class="form-control" id="field_zone" name="zone" ng-model="vm.contrat.zone" ng-options="zone as zone.nom for zone in vm.zones track by zone.id">
                                <option value=""></option>
                            </select>
                        </td>

                        <td class="col-md-2 item" colspan="2">
                            <input type="number" class="facture-td" ng-model="vm.contrat.vehicule.nbrePlace" ng-change="vm.changeValue()" required/>
                        </td>

                    </tr>

                    </table>

                </div>

                <div class="col-md-3">

                    <h4>Prime de Base</h4> <br>

                    <input type="number" ng-model="vm.contrat.primeBase" ng-change="vm.changeValue()" required/>

                </div>

                <div class="facture-part col-md-9">

                    <table border="1">

                        <tr class="row">

                            <th rowspan="2" class="col-md-3"> GARANTIES </th>

                            <th rowspan="2" class="col-md-3"> CAPITAUX   </th>

                            <th class="col-md-6" colspan="6">PRIMES</th>

                        </tr>

                        <tr>

                            <th></th>

                            <th>Annuelle</th>

                            <th>%</th>

                            <th>Nette</th>

                            <th>bns</th>

                            <th>SP</th>

                            <th>Nette</th>

                        </tr>

                        <tr>
                            <td></td>
                            <td>RC ET RTI</td>
                            <td>500000000Dm</td>
                            <td ng-bind="vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)" ng-model="vm.annuel"></td>
                            <td><input type="number" ng-model="vm.contrat.pourcentage" ng-change="vm.changeValue()"/></td>
                            <td ng-bind="(vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentage/100"></td>
                            <td><input type="number" ng-change="vm.changeValue()" ng-model="vm.contrat.bonus"/></td>
                            <td><input type="number" ng-change="vm.changeValue()" ng-model="vm.contrat.surplus"/></td>
                            <td id="garanti1" ng-bind="(vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentage/100"></td>

                        </tr>



                        <tr>
                            <td></td>
                            <td>Vol Incendie <input type="checkbox" ng-model="vm.contrat.isVolIncendie" ng-change="vm.changeValue()"/> <input type="text" ng-hide="vm.changePourcent" ng-model="vm.contrat.pourcentVolIncendie" ng-change="vm.changeValue()"/></td>
                            <td>Franchise: 5% Min: 100000F</td>
                            <td ng-bind="vm.contrat.isVolIncendie ? vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentVolIncendie/100: 0"></td>
                            <td ng-bind="vm.contrat.isVolIncendie ? vm.contrat.pourcentage : 0"></td>
                            <td ng-bind="vm.contrat.isVolIncendie ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentVolIncendie/100) * vm.contrat.pourcentage / 100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti4" ng-bind="vm.contrat.isVolIncendie ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentVolIncendie/100) * vm.contrat.pourcentage / 100 : 0"></td>

                        </tr>



                        <tr>
                            <td></td>
                            <td>   Assistance <input type="checkbox" ng-model="vm.contrat.isAssistance" ng-change="vm.changeValue()"/> <input type="text" ng-hide="vm.changePourcent" ng-model="vm.contrat.pourcentAssistance" ng-change="vm.changeValue()"/></td>
                            <td> 2 000 000 FCFA Franchise</td>
                            <td ng-bind="vm.contrat.isAssistance ? vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentAssistance/100 : 0"></td>
                            <td ng-bind="vm.contrat.isAssistance ? vm.contrat.pourcentage : 0"></td>
                            <td ng-bind="vm.contrat.isAssistance ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentAssistance/100) * vm.contrat.pourcentage / 100 : 0"></td>
                            <td></td>
                            <td></td>
                            <td id="garanti7" ng-bind="vm.contrat.isAssistance ? (vm.contrat.vehicule.valeurNeuve * vm.contrat.pourcentAssistance/100) * vm.contrat.pourcentage / 100: 0"></td>

                        </tr>




                        <tr>
                            <td></td>
                            <td>  Recours Defence	<input type="checkbox" ng-model="vm.contrat.isRecourDefence" ng-change="vm.changeValue()"/> <input type="text" ng-hide="vm.changePourcent" ng-model="vm.contrat.pourcentRecourDefense" ng-change="vm.changeValue()"/></td>
                            <td> 	 ILLIMITE</td>
                            <td ng-bind="vm.contrat.isRecourDefence ? (vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentRecourDefense/100 : 0"></td>
                            <td ng-bind="vm.contrat.isRecourDefence ? vm.contrat.pourcentage : 0"></td>
                            <td  ng-bind=" vm.contrat.isRecourDefence ? (vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentRecourDefense/100 * vm.contrat.pourcentage /100 : 0" ></td>
                            <td></td>
                            <td></td>
                            <td  id="garanti9" ng-bind="vm.contrat.isRecourDefence ? (vm.contrat.primeBase - (vm.contrat.bonus/100 * vm.contrat.primeBase) + (vm.contrat.surplus/100 * vm.contrat.primeBase)) * vm.contrat.pourcentRecourDefense/100 * vm.contrat.pourcentage /100 : 0"></td>

                        </tr>


                        <tr>
                            <td></td>
                            <td rowspan="3">  Individuel Accid - Chauffeur	<input type="checkbox" ng-model="vm.contrat.isIptInvalid" ng-change="vm.changeValue()"/> </td>
                            <td> IPT Deces  1 000 000</td>
                            <td><input type="number" ng-model="vm.contrat.iptDecesAnnuel" /></td>
                            <td ng-bind="vm.contrat.isIptInvalid ? vm.contrat.pourcentage : 0"></td>
                            <td ng-bind="vm.contrat.isIptInvalid ? vm.contrat.iptDecesAnnuel * vm.contrat.pourcentage /100 : 0"></td>
                            <td rowspan="3">Nbre de Places</td>
                            <td rowspan="3" ng-bind="vm.contrat.vehicule.nbrePlace"></td>
                            <td id="garanti11" rowspan="3" ng-bind="vm.contrat.isIptInvalid ? ((vm.contrat.iptDecesAnnuel * vm.contrat.pourcentage /100) + (vm.contrat.iptInvalidAnnuel * vm.contrat.pourcentage /100) + (vm.contrat.iptFMPHAnnuel * vm.contrat.pourcentage /100)) * 1 : 0"></td>


                        </tr>

                        <tr>
                            <td></td>
                            <td> IPT Invalidité  1 000 000</td>
                            <td><input type="number" ng-model="vm.contrat.iptInvalidAnnuel"  ng-change="vm.changeValue()"/></td>
                            <td ng-bind="vm.contrat.isIptInvalid ? vm.contrat.pourcentage : 0"></td>
                            <td ng-bind="vm.contrat.isIptInvalid ? vm.contrat.iptInvalidAnnuel * vm.contrat.pourcentage /100: 0"></td>

                        </tr>

                        <tr>
                            <td></td>
                            <td> IPT FMPH  100 000</td>
                            <td><input type="number" ng-model="vm.contrat.iptFMPHAnnuel"  ng-change="vm.changeValue()"/></td>
                            <td ng-bind="vm.contrat.isIptInvalid ? vm.contrat.pourcentage : 0"></td>
                            <td ng-bind="vm.contrat.isIptInvalid ? vm.contrat.iptFMPHAnnuel * vm.contrat.pourcentage /100 : 0"></td>


                        </tr>



                    </table>

                </div>

                <div class="facture-part col-md-offset-8">
                    <table border="1">

                        <tr class="row">
                            <th class="col-md-6">PRIME BRUTE</th>
                            <td class="col-md-6" id="primeBrut"></td>
                        </tr>

                        <tr class="row">
                            <th class="col-md-6">REDUCTION GROUPE</th>
                            <td class="col-md-6" id="reductionG"></td>
                        </tr>

                        <tr class="row">
                            <th class="col-md-6">PRIME NETTE</th>
                            <td class="col-md-6" id="primeNet"></td>
                        </tr>

                        <tr class="row">
                            <th class="col-md-6">ACCESSOIRE</th>
                            <td class="col-md-6"><input type="number" ng-change="vm.changeValue()" id="accessoire" class="facture-td" ng-model="vm.contrat.accessoire"/></td>
                        </tr>

                        <tr class="row">
                            <th class="col-md-6">COUT DE POLICE</th>
                            <td class="col-md-6"><input type="number" ng-change="vm.changeValue()" id="coutPolice" class="facture-td" ng-model="vm.contrat.coutPolice"/></td>
                        </tr>

                        <tr class="row">
                            <th class="col-md-6">PRIME HT</th>
                            <td class="col-md-6" id="primeHT"></td>
                        </tr>

                        <tr class="row">
                            <th class="col-md-6">TVA</th>
                            <td class="col-md-6" id="tva"></td>
                        </tr>

                        <tr class="row">
                            <th class="col-md-6">ASAC</th>
                            <td class="col-md-6"><input type="number" id="asac" ng-model="vm.contrat.asac" class="facture-td" ng-change="vm.changeValue()"/></td>
                        </tr>

                        <tr class="row">
                            <th class="col-md-6">CARTE ROSE</th>
                            <td class="col-md-6"><input type="number" id="carteRose" ng-model="vm.contrat.carteRose" class="facture-td" ng-change="vm.changeValue()"/></td>
                        </tr>

                        <tr class="row">
                            <th class="col-md-6">VIGNETTE AUTO</th>
                            <td class="col-md-6" ng-bind="vm.vignette.montant" id="vignette"></td>
                        </tr>

                        <tr class="row" class="ttc">
                            <th class="col-md-6">PRIME TTC</th>
                            <td class="col-md-6" style="font-size: 30px; color:red; height:100px;" id="primeTTC" ng-model="vm.contrat.primeTTC"></td>
                        </tr>

                    </table>
                </div>

                    <div class="">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.configure()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Configure</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>

             </form>

            </div>



        </div>
    </div>


</div>
