<div ng-cloak>
                <div class="row">
                    <div class="col-md-3">
                        <ht-sidebar >
                            <div class="sidebar-filler"></div>
                            <div class="sidebar-dropdown"><a href="#">Menu</a></div>
                            <div class="sidebar-inner">
                                <div class="sidebar-widget"></div>
                                <ol class="navi">
                                    <li class="bblue menu-side">
                                        <a><h4 translate="assurance.type.auto">Assurance Auto</h4></a>
                                    </li>
                                    <li class="bgreen menu-side">
                                        <a><h4 translate="assurance.type.maladie">Assurance Maladie</h4></a>
                                    </li>
                                    <li class="bred menu-side">
                                        <a><h4 translate="assurance.type.vie">Assurance Vie</h4></a>
                                    </li>
                                    <li class="borange menu-side">
                                        <a><h4 translate="assurance.type.voyage">Assurance Voyage</h4></a>
                                    </li>
                                </ol>
                            </div>
                        </ht-sidebar>
                    </div>
                    <div class="col-md-9">

                        <div class="row">
                            <div class="col-md-4">
                                <img src="content/images/logo.png"/>

                            </div>

                            <div class="col-md-8" ng-show="vm.isAuthenticated()">
                                <h2 class="title-app" translate="assurance.type.auto"></h2>


                            </div>

                        </div>


                        <ul class="today-datas" ng-hide="vm.isAuthenticated()">


                            <li class="bviolet">
                                <div class="pull-left"><i class="fa fa-plane"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold" translate="home.title">Bienvenue sur NetSoftAssur (Application de Gestion En Assurance) </span> Société de Courtage Orion Assurance S.A
                                </div>
                                <div class="clearfix"></div>
                            </li>



                        </ul>
                        <ul class="today-datas" ng-show="vm.isAuthenticated()">

                          <a ui-sref="choix-contrat">  <li class="blightblue" >
                                <div class="pull-left"><i class="fa fa-plane"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">Nouveau Contrat</span> Creer un nouveau contrat
                                </div>
                                <div class="clearfix"></div>
                            </li> </a>

                            <a ui-sref="flotte.new">  <li class="bred" >
                                  <div class="pull-left"><i class="fa fa-plane"></i></div>
                                  <div class="datas-text pull-right">
                                      <span class="bold">Flotte</span> Creer une nouvelle flotte et ajout de vehicule
                                  </div>
                                  <div class="clearfix"></div>
                              </li> </a>

                           <a ui-sref="contrat"><li class="bviolet">
                                <div class="pull-left"><i class="fa fa-envelope"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">Chercher un Contrat</span> Rechercher un contrat afin d'y apporter un traitement
                                </div>
                                <div class="clearfix"></div>
                            </li> </a>

                           <a ui-sref="choix-bordereau"><li class="bgreen">
                                <div class="pull-left"><i class="fa fa-envelope"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">Bordereaux</span> Les Différents Bordereaux de votre activitée
                                </div>
                                <div class="clearfix"></div>
                            </li></a>

                            <a ui-sref="echeance"><li class="borange">
                                <div class="pull-left"><i class="fa fa-envelope"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">Echéances</span> Les Contrats qui s'expirent bientot
                                </div>
                                <div class="clearfix"></div>
                            </li></a>

                            <a ui-sref="dossier">  <li class="blightblue" >
                                  <div class="pull-left"><i class="fa fa-plane"></i></div>
                                  <div class="datas-text pull-right">
                                      <span class="bold">Ouverture de Dossier</span> Clauses et formulaires
                                  </div>
                                  <div class="clearfix"></div>
                              </li> </a>


                            <li class="bred">
                                <div class="pull-left"><i class="fa fa-envelope"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">Rapports</span> Rapports de votre activité
                                </div>
                                <div class="clearfix"></div>
                            </li>

                            <li class="bblue" ng-click="vm.synchro()">
                                <div class="pull-left"><i class="fa fa-envelope"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">Synchronisation</span> {{vm.sync}}
                                </div>
                                <div class="clearfix"></div>
                            </li>

                        </ul>

                    </div>
                </div>


</div>
