
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAgenceLabel" translate="orionSoftApp.agence.home.createOrEditLabel">Create or edit a Agence</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.agence.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.agence.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.agence.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                    ng-model="vm.agence.nom"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.agence.contact" for="field_contact">Contact</label>
            <input type="text" class="form-control" name="contact" id="field_contact"
                    ng-model="vm.agence.contact"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.agence.localite" for="field_localite">Localite</label>
            <input type="text" class="form-control" name="localite" id="field_localite"
                    ng-model="vm.agence.localite"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.agence.ville" for="field_ville">Ville</label>
            <input type="text" class="form-control" name="ville" id="field_ville"
                    ng-model="vm.agence.ville"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
