
<div>
    <h2><span translate="orionSoftApp.agence.detail.title">Agence</span> {{vm.agence.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.agence.nom">Nom</span></dt>
        <dd>
            <span>{{vm.agence.nom}}</span>
        </dd>
        <dt><span translate="orionSoftApp.agence.contact">Contact</span></dt>
        <dd>
            <span>{{vm.agence.contact}}</span>
        </dd>
        <dt><span translate="orionSoftApp.agence.localite">Localite</span></dt>
        <dd>
            <span>{{vm.agence.localite}}</span>
        </dd>
        <dt><span translate="orionSoftApp.agence.ville">Ville</span></dt>
        <dd>
            <span>{{vm.agence.ville}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="agence-detail.edit({id:vm.agence.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
