
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCarteRoseLabel" translate="orionSoftApp.carteRose.home.createOrEditLabel">Create or edit a Carte Rose</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.carteRose.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.carteRose.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.carteRose.nomAssure" for="field_nomAssure">Nom Assure</label>
            <input type="text" class="form-control" name="nomAssure" id="field_nomAssure"
                    ng-model="vm.carteRose.nomAssure"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.carteRose.immatriculation" for="field_immatriculation">Immatriculation</label>
            <input type="text" class="form-control" name="immatriculation" id="field_immatriculation"
                    ng-model="vm.carteRose.immatriculation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.carteRose.marque" for="field_marque">Marque</label>
            <input type="text" class="form-control" name="marque" id="field_marque"
                    ng-model="vm.carteRose.marque"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.carteRose.assureur" for="field_assureur">Assureur</label>
            <input type="text" class="form-control" name="assureur" id="field_assureur"
                    ng-model="vm.carteRose.assureur"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.carteRose.bureauEmetteur" for="field_bureauEmetteur">Bureau Emetteur</label>
            <input type="text" class="form-control" name="bureauEmetteur" id="field_bureauEmetteur"
                    ng-model="vm.carteRose.bureauEmetteur"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.carteRose.police" for="field_police">Police</label>
            <input type="text" class="form-control" name="police" id="field_police"
                    ng-model="vm.carteRose.police"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.carteRose.dateEffet" for="field_dateEffet">Date Effet</label>
                <div class="input-group">
                    <input id="field_dateEffet" type="text" class="form-control" name="dateEffet" uib-datepicker-popup="{{dateformat}}" ng-model="vm.carteRose.dateEffet" is-open="vm.datePickerOpenStatus.dateEffet"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEffet')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.carteRose.dateFin" for="field_dateFin">Date Fin</label>
                <div class="input-group">
                    <input id="field_dateFin" type="text" class="form-control" name="dateFin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.carteRose.dateFin" is-open="vm.datePickerOpenStatus.dateFin"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.carteRose.categoryVehicule" for="field_categoryVehicule">Category Vehicule</label>
            <input type="text" class="form-control" name="categoryVehicule" id="field_categoryVehicule"
                    ng-model="vm.carteRose.categoryVehicule"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.carteRose.numeroChassis" for="field_numeroChassis">Numero Chassis</label>
            <input type="text" class="form-control" name="numeroChassis" id="field_numeroChassis"
                    ng-model="vm.carteRose.numeroChassis"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
