
<div>
    <h2><span translate="orionSoftApp.carteRose.detail.title">Carte Rose</span> {{vm.carteRose.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.carteRose.nomAssure">Nom Assure</span></dt>
        <dd>
            <span>{{vm.carteRose.nomAssure}}</span>
        </dd>
        <dt><span translate="orionSoftApp.carteRose.immatriculation">Immatriculation</span></dt>
        <dd>
            <span>{{vm.carteRose.immatriculation}}</span>
        </dd>
        <dt><span translate="orionSoftApp.carteRose.marque">Marque</span></dt>
        <dd>
            <span>{{vm.carteRose.marque}}</span>
        </dd>
        <dt><span translate="orionSoftApp.carteRose.assureur">Assureur</span></dt>
        <dd>
            <span>{{vm.carteRose.assureur}}</span>
        </dd>
        <dt><span translate="orionSoftApp.carteRose.bureauEmetteur">Bureau Emetteur</span></dt>
        <dd>
            <span>{{vm.carteRose.bureauEmetteur}}</span>
        </dd>
        <dt><span translate="orionSoftApp.carteRose.police">Police</span></dt>
        <dd>
            <span>{{vm.carteRose.police}}</span>
        </dd>
        <dt><span translate="orionSoftApp.carteRose.dateEffet">Date Effet</span></dt>
        <dd>
            <span>{{vm.carteRose.dateEffet | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="orionSoftApp.carteRose.dateFin">Date Fin</span></dt>
        <dd>
            <span>{{vm.carteRose.dateFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="orionSoftApp.carteRose.categoryVehicule">Category Vehicule</span></dt>
        <dd>
            <span>{{vm.carteRose.categoryVehicule}}</span>
        </dd>
        <dt><span translate="orionSoftApp.carteRose.numeroChassis">Numero Chassis</span></dt>
        <dd>
            <span>{{vm.carteRose.numeroChassis}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="carte-rose-detail.edit({id:vm.carteRose.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
