<div>
    <h2 translate="orionSoftApp.carteRose.home.title">Carte Roses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="carte-rose.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="orionSoftApp.carteRose.home.createLabel">
                        Create new Carte Rose
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'orionSoftApp.carteRose.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nomAssure"><span translate="orionSoftApp.carteRose.nomAssure">Nom Assure</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="immatriculation"><span translate="orionSoftApp.carteRose.immatriculation">Immatriculation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marque"><span translate="orionSoftApp.carteRose.marque">Marque</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assureur"><span translate="orionSoftApp.carteRose.assureur">Assureur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bureauEmetteur"><span translate="orionSoftApp.carteRose.bureauEmetteur">Bureau Emetteur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="police"><span translate="orionSoftApp.carteRose.police">Police</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateEffet"><span translate="orionSoftApp.carteRose.dateEffet">Date Effet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateFin"><span translate="orionSoftApp.carteRose.dateFin">Date Fin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categoryVehicule"><span translate="orionSoftApp.carteRose.categoryVehicule">Category Vehicule</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroChassis"><span translate="orionSoftApp.carteRose.numeroChassis">Numero Chassis</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="carteRose in vm.carteRoses track by carteRose.id">
                    <td><a ui-sref="carte-rose-detail({id:carteRose.id})">{{carteRose.id}}</a></td>
                    <td>{{carteRose.nomAssure}}</td>
                    <td>{{carteRose.immatriculation}}</td>
                    <td>{{carteRose.marque}}</td>
                    <td>{{carteRose.assureur}}</td>
                    <td>{{carteRose.bureauEmetteur}}</td>
                    <td>{{carteRose.police}}</td>
                        <td>{{carteRose.dateEffet | date:'mediumDate'}}</td>
                        <td>{{carteRose.dateFin | date:'mediumDate'}}</td>
                    <td>{{carteRose.categoryVehicule}}</td>
                    <td>{{carteRose.numeroChassis}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="carte-rose-detail({id:carteRose.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="carte-rose.edit({id:carteRose.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="carte-rose.delete({id:carteRose.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
