
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAssureLabel" translate="orionSoftApp.assure.home.createOrEditLabel">Create or edit a Assure</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.assure.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.assure.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.assure.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                    ng-model="vm.assure.nom"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.assure.number" for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                    ng-model="vm.assure.number"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.assure.ville" for="field_ville">Ville</label>
            <select class="form-control" name="ville" ng-model="vm.assure.ville" id="field_ville">
                <option value="YAOUNDE" translate="orionSoftApp.VILLE.YAOUNDE">YAOUNDE</option>
                <option value="DOUALA" translate="orionSoftApp.VILLE.DOUALA">DOUALA</option>
                <option value="BERTOUA" translate="orionSoftApp.VILLE.BERTOUA">BERTOUA</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.assure.adress" for="field_adress">Adress</label>
            <input type="text" class="form-control" name="adress" id="field_adress"
                    ng-model="vm.assure.adress"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="orionSoftApp.assure.profession" for="field_profession">Profession</label>
            <input type="text" class="form-control" name="profession" id="field_profession"
                    ng-model="vm.assure.profession"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
