
<div>
    <h2><span translate="orionSoftApp.assure.detail.title">Assure</span> {{vm.assure.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="orionSoftApp.assure.nom">Nom</span></dt>
        <dd>
            <span>{{vm.assure.nom}}</span>
        </dd>
        <dt><span translate="orionSoftApp.assure.number">Number</span></dt>
        <dd>
            <span>{{vm.assure.number}}</span>
        </dd>
        <dt><span translate="orionSoftApp.assure.ville">Ville</span></dt>
        <dd>
            <span translate="{{'orionSoftApp.VILLE.' + vm.assure.ville}}">{{vm.assure.ville}}</span>
        </dd>
        <dt><span translate="orionSoftApp.assure.adress">Adress</span></dt>
        <dd>
            <span>{{vm.assure.adress}}</span>
        </dd>
        <dt><span translate="orionSoftApp.assure.profession">Profession</span></dt>
        <dd>
            <span>{{vm.assure.profession}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="assure-detail.edit({id:vm.assure.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
